[2014-11-21 19:32] fenduru opened #1 "Request: Support other EWMH window managers"
Mockups look great! I would love to have a "pretty" desktop, however I can't get past the fact that they are almost always tied to a floating window manager. It would be great if you could include hooks to override the window manager with something different, like https://github.com/baskerville/bspwm, while retaining the rest of the shell and compositing features. Gnome 2 used to have this and it

[2014-11-21 21:08] raynerd opened #2 "Material on Qt Widgets"
Hello you can count on me for develop a Qt Style that mimics Material Design, I'm pretty confortable with this task and I believe this project will have an excelent future. I'v already done a Qt style before called Meterial but it isn't related to google Material at all, you can found it here https://github.com/raynerd/styles-stuff. Send me a message at raynerd@gmx.com if you are interested. best

[2014-11-22 11:50] airon90 opened #3 "Translation"
I'd like to start translating Quartz Shell. How can I do that? Thank you very much!
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/6436162-translation?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&ut

[2014-11-22 15:59] iBelieve opened #4 "Switch to using Green Island for the compositor"
QtCompositor isn't offically released yet, and @mauios has done great work on their own extensions to QtCompositor, called Green Island. We will be switching to using that and collaborating with them to improve it and fix bugs.

[2014-11-23 08:54] boghison opened #5 "Maximizing windows"
To give the shell a more "material" feeling we could make a wave animation that changes the color to the header color of the window for the panel. From the Window.qml code I understand that the header is hidden when the window is maximized, yes? Anyway, I can start working on it (I've already written the maths necessary to correctly show it) if you agree to do this. I was also thinking of using th

[2014-11-23 18:26] thewhitetulip opened #7 "Why create a whole new OS?"
Bringing material design to linux desktop is a really good thing to do, we don't have beautiful desktop managers gnome3 kde are good, but not at all beautiful. Elementary OS has a beautiful desktop manager, but it is a copy of Mac.

What I want to say is, instead of creating a new OS from scratch why not just make a new desktop manager based on material design? Also if you want to do it, then we c

[2014-11-24 14:42] iBeliever opened #8 "Gray out all non-active windows"
We should try graying out the window decoration and toolbar/action bar for non-active windows so the user isn't overwhelmed by color.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/6482801-gray-out-all-non-active-windows?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [

[2014-11-25 15:21] #7 closed, assigned to nobody

[2014-11-25 16:18] #4 closed, assigned to iBelieve

[2014-11-25 17:23] ghost opened #9 "Contributing C++ code!"
Is there any scope to contribute C++ 11/14 code to your project?
Also, how do I contact Michael Spencer directly?

[2014-11-26 17:16] lovelesh opened #10 "Installation"
Hello All,

Sorry for such a simple doubt. I am very interested in this project. So, i tried to follow the installation steps but I am struck at installing qml-material repo. Can anybody help me with that?

Thanks

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/6552260-installation?utm_campaign=plugin&utm_content=tracker%2F8658931&ut

[2014-11-28 14:23] #9 closed, assigned to nobody

[2014-12-02 13:09] leugenea opened #11 "Dependencies and installation process"
I suppose that people who familiar with Qt/Wayland/etc. and their packages can easily install all needed dependencies and run shell. But others can't.
We can write some short (I think it'll be short) manual about installation process: what packages user must install (we can focus on Arch Linux or/and Ubuntu (some version) only) and what to run to make project (and all projects which it depends on)

[2014-12-15 21:08] iBeliever opened #16 "Music Indicator"
Here is the MPRIS DBUS interface spec: http://specifications.freedesktop.org/mpris-spec/latest/

[2014-12-15 21:21] iBeliever opened #17 "Network indicator [$15]"
We can probably use [libnm-qt](https://projects.kde.org/projects/extragear/libs/libnm-qt), which is a Network Manager wrapper in Qt.

<bountysource-plugin>
---
There is a **[$15 open bounty](https://www.bountysource.com/issues/7037026-network-indicator-10?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** on this issue. Add to the bounty at [Bountysource](http

[2014-12-16 21:50] Collinthegeek opened #18 "Installation on Ubuntu?"
Could someone help me figure out how to install this? I would love to help but I can't figure out all the dependancies And I get a bunch of erros when I try to follow the readme.

If someone could walk me through the process on Ubuntu I could make it into a proper tutorial for addition to the readme.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysou

[2014-12-16 22:56] #1 closed, assigned to nobody

[2014-12-18 01:44] kingwill101 opened #19 "ToDo list"
Is it possible for us to put together a list of features needing to be implemented ? That way it would be easier for persons searching for a specific task.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7096956-todo-list?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties v

[2014-12-20 05:18] iBelieve opened #20 "QtCompositor doesn't work correctly on Arch Linux"
Upstream bug: https://bugreports.qt-project.org/browse/QTBUG-43325

Qt is v5.4 compiled from the source tarball with `CONFIG += wayland-compositor` added.

Running the compositor produces the following error:

[code]

Also, this is what happens when I try running a Wayland client (a QML project via qmlscene) on the QML compositor:

[code]
##

<bountysource-plugin>
---
Want to back this issue? **[P

[2014-12-21 15:16] glenfordwilliams opened #21 "tracking running apps"
What is the best way to keep track of all apps installed/running?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7177007-tracking-running-apps?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tr

[2014-12-27 15:53] ricardomv opened #24 "Use nemo-qml-plugin-dbus for dbus communication in QML"
Thread for discussing the use of https://github.com/nemomobile/nemo-qml-plugin-dbus started in #23

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/7311120-use-nemo-qml-plugin-dbus-for-dbus-communication-in-qml?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource

[2015-01-07 07:49] bradsoto opened #25 "Shell without X"

[2015-01-07 17:11] iBeliever commented on #25
I don't know if its possible to run the compositor on top of an existing wayland session. You should be able to run it as its own session or on top of X11 via `-platform xcb`.

[2015-01-07 19:53] bradsoto commented on #25
 I'm running the command from  the actual  CLI not an interpreter.  There are no existing wayland sessions.

[2015-01-07 21:33] ricardomv commented on #25
the platform plugin is used to start applications using the wayland backent on a wayland compositor. To start a QtCompositor on a virtual terminal (VT) you need the eglfs or fbdev platform

[2015-01-11 00:15] iBeliever commented on #20
I finally have this figured out. You simply need to configure and compile `qt5-base` with `-opengl es2`. On Arch Linux, you can simply install all the necessary Qt 5 packages from the git AUR packages, specifically `qt5-base-git`, which has opengl es2 enabled. There is also the `qt5-wayland-dev-git` package, which is compiled with QtCompositor enabled.

[2015-01-11 00:16] iBeliever commented on #11
@atsjj I found a working solution, check out my solution on #20 and see if that works for you as well.

[2015-01-12 16:07] atsjj commented on #11
@iBeliever I will recompile this evening and let you know what happens.

[2015-01-14 00:30] panospolychronis opened #28 "Papyros fails to compile in Fedora 21"
[panos@phobos papyros-shell] $ make
    g++ -c -pipe -O2 -g -pipe -Wall -Werror=format-security -Wp,-D_FORTIFY_SOURCE=2 -fstack-protector-strong --param=ssp-buffer-size=4 -grecord-gcc-switches -m64 -mtune=generic -O2 -Wall -W -D_REENTRANT -fPIE -DQT_NO_DEBUG -DQT_QUICK_LIB -DQT_COMPOSITOR_LIB -DQT_COMPOSITOR_WAYLAND_GL -DQT_GUI_LIB -DQT_QML_LIB -DQT_NETWORK_LIB -DQT_CORE_LIB -I/usr/lib64/qt5/mkspe

[2015-01-14 17:52] Collinthegeek commented on #28
I have a similar problem also in fedora 21. I (Finally) got qmake to work (had to use qmake-qt5) and now I"m getting: '[family@alice-norwood-lan qml-material]$ qmake-qt5
[family@alice-norwood-lan qml-material]$ make
cd modules/Material/ && ( test -e Makefile || /bin/qmake-qt5 /var/data/family/Papyros/qml-material/modules/Material/Material.pro -o Makefile ) && make -f Makefile
make[1]: Entering dir

[2015-01-14 17:57] iBeliever commented on #28
I don't use Fedora at all, so unfortunately I can't be of much help determining what packages you guys need to install.

@Collinthegeek It looks like you're missing the [QtTest module](http://doc.qt.io/qt-5/qttest-qmlmodule.html).

[2015-01-14 18:10] Collinthegeek commented on #28
@iBeliever To be honest I've never used Qt in my life and don't really know where I need to type 'import Qttest 1.1'

[2015-01-14 18:11] boghison commented on #28
@Collinthegeek That module is installed with the default Qt build, you don't need to do anything from code.

[2015-01-14 18:12] Collinthegeek commented on #28
@boghison So then why isn't it working? Did you see my original comment?

[2015-01-14 18:13] boghison commented on #28
@Collinthegeek Probably because your Qt build doesn't have the module

[2015-01-14 18:15] Collinthegeek commented on #28
@boghison Thats why I'm trying to import it. To install qt I installed everything that looked relevant when I did a yum search for qt5.

[2015-01-14 18:17] boghison commented on #28
@Collinthegeek Hmm. Try adding this to the `.pro` file:
` CONFIG += qtestlib`
and edit the import line to be ` #include <QtTest>`. Please let me know whether that worked or not

[2015-01-14 18:19] Collinthegeek commented on #28
That might be the problem. this is my entire qml-materials.pro file
"TEMPLATE = subdirs
SUBDIRS = modules/Material tests

OTHER_FILES = README.md"

[2015-01-14 18:19] boghison commented on #28
@Collinthegeek Oh wait, is that for the material framework? It seems to compile fine on all of my computers so it's definitely a problem with your Qt install

[2015-01-14 18:20] Collinthegeek commented on #28
yes it is.

[2015-01-14 18:32] Collinthegeek commented on #28
@boghison @iBeliever I went ahead and installed qml-extras and papyros-shell and now I can run the shell but of course it says its missing material. neither extras nor papyros-shell gave me any trouble

[2015-01-14 18:32] boghison commented on #28
@Collinthegeek But extras also has tests. Let me look into it for a moment

[2015-01-14 18:33] Collinthegeek commented on #28
@boghison @iBeliever It does say I'm missing GSettings as well

[2015-01-14 18:33] Collinthegeek commented on #28
@boghison Thanks

[2015-01-14 18:36] boghison commented on #28
@Collinthegeek The code diff showed what might be the problem:
try replacing the header include with the one from extras: `#include <QtQuickTest/quicktest.h>`

[2015-01-14 18:39] Collinthegeek commented on #28
in the .pro file?

[2015-01-14 18:43] iBeliever commented on #28
@Collinthegeek GSettings is a module created by the Ubuntu Touch developers, but isn't Ubuntu specific (we're using the package from Arch's user-submitted packages). You'll probably need to compile it from source from https://launchpad.net/gsettings-qt. I'll update the README to mention that.

[2015-01-14 18:44] boghison commented on #28
@Collinthegeek No, the `.cpp` file. @iBeliever We aren't using that yet though, are we?

[2015-01-14 18:52] iBeliever commented on #28
@boghison Surprise features that I've added but haven't demoed yet :)

https://github.com/papyros/papyros-shell/commit/d66b1e5ebe1e0c560fab7e9b5d1bc376105475da

@Collinthegeek He's referring to [tests/tests.cpp](https://github.com/papyros/qml-material/blob/develop/tests/tests.cpp).

[2015-01-14 18:54] boghison commented on #28
@iBeliever Funny thing we're using GSettings, that's so GNOME :D

[2015-01-14 18:59] Collinthegeek commented on #28
I still get the same error after changing that

[2015-01-14 19:01] iBeliever commented on #28
@Collinthegeek Then just take out the "tests" part from the `SUBDIRS` line in the `qml-material.pro` file, and re-run `qmake`. We know the tests are passing on Travis CI, so there's no need for you to run them locally. Not sure what is going on.

[2015-01-14 19:01] Collinthegeek commented on #28
and I'm not able to get gsettings working. and launchpad is to annoying to ask for help.

[2015-01-14 19:03] iBeliever commented on #28
@Collinthegeek You can just hard-code the wallpaper again like I had originally. You should be able to figure out what to change by looking at the commit that introduced the use of GSettings: https://github.com/papyros/papyros-shell/commit/d66b1e5ebe1e0c560fab7e9b5d1bc376105475da

[2015-01-14 19:05] Collinthegeek commented on #28
okay ill try that. material compiled fine and this is what i get when I run it:
$ ./papyros-shell -platform xcb
QtCompositor: Failed to initialize EGL display. Could not get EglDisplay for window.
qrc:/qml/main.qml:19:1: module "Material" is not installed
qrc:/qml/main.qml:20:1: module "GSettings" is not installed
qrc:/qml/main.qml:19:1: module "Material" is not installed
qrc:/qml/main.qml:20:1: m

[2015-01-14 19:06] iBeliever commented on #28
@Collinthegeek Qt 5.4 needs to be compiled with OpenGL ES2. Take a look at #20 and the associated bug report in Qt. It also looks like you didn't install the Material module.

[2015-01-14 19:11] Collinthegeek commented on #28
Okay. I hardcoded the wallpaper and recompiled. now I get:
$ ./papyros-shell -platform xcb
QtCompositor: Failed to initialize EGL display. Could not get EglDisplay for window.
qrc:/qml/main.qml:19:1: module "Material" is not installed
QObject::connect: Cannot connect QmlCompositor::windowAdded(QVariant) to (null)::windowAdded(QVariant)
QObject::connect: Cannot connect QmlCompositor::windowResized(

[2015-01-14 19:24] Collinthegeek commented on #28
@iBeliever so ill have to compile qt5 from source with the correct flag?

[2015-01-14 19:27] Collinthegeek commented on #28
@iBeliever I re-compiled/installed Material and it still says it's missing

[2015-01-14 19:28] iBeliever commented on #28
@Collinthegeek The install path might not be getting picked up by QML correctly. And yes, you have to compile Qt5 from source to get it to work, based on that error.

[2015-01-14 19:34] Collinthegeek commented on #28
@iBeliever Just out of curiousity why do you say to use
$ ./papyros-shell -platform xcb
instead of just
$papyros-shell?

[2015-01-14 19:38] iBeliever commented on #28
@Collinthegeek Because you could change the platform backend to run as a full screen compositor, for example. But you want the xcb backend to run as a windowed app on your existing X11 system. I'm not on Arch right now, so I can't verify if it picks up xcb as the default platform if you don't specify one.

[2015-01-14 19:39] Collinthegeek commented on #28
okay

[2015-01-14 19:46] Collinthegeek commented on #28
@iBeliever Maybe I'm not looking in the right place but I can't find  a package for qt5. Could you link the one you used

[2015-01-14 19:51] iBeliever commented on #28
The code is on [Gitorious](https://qt.gitorious.org/qt/qtbase) and mirrored on [GitHub](https://github.com/qtproject/qtbase). The packages I used for Arch were https://aur.archlinux.org/packages/qt5-base-git and https://aur.archlinux.org/packages/qt5-wayland-dev-git.

[2015-01-14 19:55] Collinthegeek commented on #28
hmm. so ill have to find one that is fedora friendly

[2015-01-14 20:01] Collinthegeek commented on #28
@iBeliever okay so if I install from that github repo do I have to use any flags to get opengl es2

[2015-01-14 20:02] boghison commented on #28
@Collinthegeek ./configure -opengl es2

[2015-01-14 20:04] Collinthegeek commented on #28
thanks

[2015-01-14 20:19] Collinthegeek commented on #28
@iBeliever @boghison Now I've gotten a bunch of errors trying to install qt with opengl es2. I'll just (temporarily) give up untill there's a more stable version.

[2015-01-14 20:19] boghison commented on #28
@Collinthegeek errors like what?

[2015-01-14 20:38] Collinthegeek commented on #28
@boghison
# make
cd src/ && ( test -e Makefile || /bin/qmake-qt5 /tmp/qtbase/src/src.pro -o Makefile ) && make -f Makefile
make[1]: Entering directory `/tmp/qtbase/src'
cd tools/bootstrap/ && ( test -e Makefile || /bin/qmake-qt5 /tmp/qtbase/src/tools/bootstrap/bootstrap.pro -o Makefile ) && make -f Makefile
make[2]: Entering directory `/tmp/qtbase/src/tools/bootstrap'
g++ -c -pipe -ffunction-secti

[2015-01-14 20:39] Collinthegeek commented on #28
@boghison
 ls src/corelib/global/
archdetect.cpp	      qfeatures.txt	 qmalloc.cpp
global.pri	      qflags.h		 qnamespace.h
qcompilerdetection.h  qglobal.cpp	 qnamespace.qdoc
qconfig-dist.h	      qglobal.h		 qnumeric.cpp
qconfig-large.h       qglobalstatic.cpp  qnumeric.h
qconfig-medium.h      qglobalstatic.h	 qnumeric_p.h
qconfig-minimal.h     qhooks.cpp	 qprocessordetection.h
qconfig-nacl.h

[2015-01-14 20:44] Collinthegeek commented on #28
So you can see better
![screenshot from 2015-01-14 14 43 09](https://cloud.githubusercontent.com/assets/2424846/5747178/b97bbcae-9bfb-11e4-88f9-0d1fc8eee0e4.png)

[2015-01-14 20:48] iBeliever commented on #28
@Collinthegeek Can you make sure you're building off of the 5.4 branch and see if that makes a difference?

[2015-01-14 20:50] Collinthegeek commented on #28
@iBeliever I thought I was using the 5.4 branch?

[2015-01-14 20:53] iBeliever commented on #28
@Collinthegeek I don't know, your screenshot and comments don't show anything. But the default branch in the GitHub and Gitorious projects is the dev branch, which may not necessarily work. You need to make sure you're on the right branch by running `git checkout 5.4`.

[2015-01-14 20:54] Collinthegeek commented on #28
@iBeliever okay

[2015-01-14 20:58] Collinthegeek commented on #28
@iBeliever  ./configure -opengl es2
Which edition of Qt do you want to use ?

Type 'c' if you want to use the Commercial Edition.
Type 'o' if you want to use the Open Source Edition.

o

This is the Qt Open Source Edition.

You are licensed to use this software under the terms of
the Lesser GNU General Public License (LGPL) versions 2.1.
You are also licensed to use this software under the terms o

[2015-01-14 21:02] iBeliever commented on #28
This is a Qt issue now, so I'm not able to help you much, especially for Fedora. Maybe you could try asking for help on the Fedora or Qt IRC channels or mailing lists? One idea though, maybe it's something to do with compiling in the temp directory.

[2015-01-14 21:28] boghison commented on #28
@Collinthegeek I hope you did read the docs on how to install it and did run perl init-repository, didn't you?

[2015-01-14 22:41] ricardomv commented on #28
wow, didn't we had an IRC channel on freenode these conversations should be made there. Or today i found this chat for github on https://gitter.im

[2015-01-21 01:02] atsjj commented on #11
@iBeliever I did a recompile, but at this point I'm seeing some funky stuff with QT5 and I think it might be driver related, i.e. KMS and proprietary NVIDIA driver.

When Nouveau is updated with better support for GM204/GTX970/980, I will give it another pass.

[2015-01-22 03:30] xiangzhai commented on #25
Hi @bradsoto

please try orbital https://github.com/giucam/orbital it does not need QtCompositor, but develop its own compositor ;P

[2015-01-22 03:33] iBeliever commented on #25
Its definitely possible to use Papyros as a Wayland session without using X11 using the eglfs Backend coming in Qt 5.4. I have it working somewhat, and will push the session files soon.

[2015-01-22 04:37] xiangzhai commented on #25
Hi @iBeliever

Please ping me when you git push it ;) papyros-shell is beautiful!

[2015-01-22 11:51] fedya opened #30 "papyros-shell and EGL_WL_bind_wayland_display"
I'm trying to run papyros-shell on the ARM board (sabre lite)
and i got this.
Looks like i need to build some package with option like --enable-wayland
but i don't know what package.
Any suggestions?

[root@localhost ~]# DISPLAY=:0 papyros-shell
libEGL warning: DRI2: failed to authenticate
QtCompositor: Failed to initialize EGL display. There is no EGL_WL_bind_wayland_display extension.
qrc:/qml/m

[2015-01-23 17:55] iBeliever commented on #16
Music indicator is now implemented.

[2015-01-23 17:55] #16 closed

[2015-01-23 20:48] VirusKA commented on #19
BTW, someone made a RSS reader in QML that you can modify and use:
https://github.com/nokia-developer/rss-reader-qt

[2015-01-24 19:20] #30 closed

[2015-01-24 19:20] fedya commented on #30
i rebuilt qt5-qtbase with es2 option

[2015-01-24 19:21] fedya opened #31 "papyros-shell and eglfs"
Hi i'm trying to run papyros-shell on I.MX6 based device (Sabre Board)
and i got this
[root@localhost ~]# DISPLAY=:0 papyros-shell -platform eglfs
libEGL warning: DRI2: xcb_connect failed
libEGL warning: DRI2: xcb_connect failed
Could not initialize egl display
Aborted (core dumped)

But i can run weston with such options
weston --tty=1 --backend=fbdev-backend.so
and it's working fine.
Might i can

[2015-01-24 19:35] fedya commented on #25
me too

[2015-01-25 06:10] glenfordwilliams opened #32 "undefined variables"
hey havent been around for a while but im happy to see the progress we are making so far. I noticed that that my latest clone of the papyros-shell is complaining about alot of values which seem non existing on this side of the project .
 @iBeliever

qrc:/qml/components/ProgressListItem.qml:104:17: Cannot assign to non-existent property "alwaysShow"
qrc:/qml/main.qml:25:9: Cannot assign to non-exis

[2015-01-29 03:57] ricardomv opened #33 "various issues"
Starting the shell using the binary i get:
`qrc:/qml/Shell.qml:26:1: "dashboard": no such directory`
I guess something is missing in the qrc file

Other issues are:
`file:///home/ricardo/code/git/quantum-shell/qml/Shell.qml:276:5: Sound is not a type`
`file:///home/ricardo/code/git/quantum-shell/qml/Shell.qml:149:5: KeyEventFilter is not a type`

the last one might be my fault as i might need to h

[2015-01-29 04:12] ricardomv commented on #33
Yup for the last one i had to update qml-desktop

[2015-01-29 04:15] iBeliever commented on #33
Both of those were pushed to qml-desktop along with the changes to the shell. Is this working and closable now?

[2015-01-29 04:16] iBeliever commented on #32
Can you pull the latest code from our various repositories and try again? The v0.0.2 tag for all repositories should be a known-working combination.

[2015-01-29 09:57] ricardomv commented on #33
you need to add `<file>qml/dashboard/Dashboard.qml</file>` to the qrc file

[2015-01-29 12:47] glenfordwilliams commented on #32
still having problems

Starting /home/kingwill101/Documents/git/papyros-shell/papyros-shell...
qrc:/qml/Shell.qml:26:1: "dashboard": no such directory
/home/kingwill101/Documents/git/papyros-shell/papyros-shell exited with code 0

Starting /home/kingwill101/Documents/git/papyros-shell/papyros-shell...
qrc:/qml/Shell.qml:149:5: KeyEventFilter is not a type
/home/kingwill101/Documents/git/papyros-sh

[2015-01-29 12:56] nil1511 commented on #32
@glenfordwilliams generate qrc file again with by
```./qrc.py qml images > papyros-shell.qrc```
and then
[code]
 then the error regarding dashboard should be gone

[2015-01-29 13:28] glenfordwilliams commented on #32
thanks but now i still have problems with

Starting /home/kingwill101/Documents/git/papyros-shell/papyros-shell...
qrc:/qml/Shell.qml:149:5: KeyEventFilter is not a type
/home/kingwill101/Documents/git/papyros-shell/papyros-shell exited with code 0

and i see where its gonna be the same for

    Sound {
        id: sound

        property string iconName: sound.muted ? "av/volume_off"

[2015-01-29 15:42] ricardomv commented on #33
seems to be fixed in the latest commit. Thanks

[2015-01-29 15:42] #33 closed

[2015-01-30 17:11] iBeliever commented on #32
@glenfordwilliams Please try pulling down the latest code from qml-desktop and installing that. The Sound and KeyEventFilter classes were just recently added.

[2015-02-03 11:26] Joannis opened #34 "Compiling the shell fails"
I've been trying to get this to work for a while now but I keep running into;

../papyros-shell/src/main.cpp: In constructor `QmlCompositor::QmlCompositor()`:
../papyros-shell/src/main.cpp:71:25: error: `addDefaultShell` was not declared in this scope
           addDefaultShell();
                                     ^

Am I overlooking something? I installed the correct packages and this seems to

[2015-02-03 19:57] thx1111 commented on #20
Apparently, this is not so simple, mixing OpenGL ES and OpenGL.  Please read at:
FS#37386 - [qt5-base] why GLES?
 https://bugs.archlinux.org/task/37386?project=1&cat%5B0%5D=2&string=qt5-base

And mixing a lot of qt "git" packages from the AUR devolves into a mess of mixed qt5.4 and qt5.5 libraries.  Running "papyros-session", with the packages suggested, gives the error:
 Cannot mix incompatible Q

[2015-02-03 20:12] iBeliever commented on #20
@thx1111 Thanks for the heads up about the ArchLinux discussion.

Regarding mixing package versions, that's not Qt's fault; you can't expect parts of one version to work with parts of another version. You're going to need all of Qt 5.5 installed if you want to fully experiment with the shell. We're still in the pre-alpha stage, so it makes sense to focus on the upcoming version of Qt 5 (there's a

[2015-02-06 12:35] albertmatyi commented on #20
In arch you can install papyros shell via yaourt, but change the dependency from `qt5-wayland-dev-git` to `qt5-wayland-git` and it will work. At least it did on my machine

[2015-02-13 13:04] eddie-dunn commented on #18
@Collinthegeek, have you tried installing the `build-essential`, `automake` and `autoconf` packages?

    sudo apt-get install build-essential automake autoconf

For more info check this link: https://help.ubuntu.com/community/InstallingCompilers

[2015-02-15 12:52] 29jm commented on #34
Did you change the PKGBUILD like the comment said here: https://aur.archlinux.org/packages/qt5-wayland-dev-git/ ? I had a different error before I did that

[2015-02-15 14:20] thx1111 commented on #25
I see that the Google Papyros introduction says "The desktop shell is built using Wayland.", but that Papyros-Shell" cannot actually run on Wayland.  That seems a bit ingenuous.  Though I see "I have it working somewhat, and will push the session files soon.", the concept of "soon" has become a little unclear after several weeks.

As I understand, sometime "soon" we can expect to see a release of

[2015-02-16 04:28] mihailescu2m opened #37 "qml references need to be updated after commit 0dafe4f9b496a03be4b6ed7d50c80550c6de3654"
In 0dafe4f9b496a03be4b6ed7d50c80550c6de3654 qmls are moved around, but Shell.qml references the old location.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8608445-qml-references-need-to-be-updated-after-commit-0dafe4f9b496a03be4b6ed7d50c80550c6de3654?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=gi

[2015-02-16 04:31] mihailescu2m opened #38 "cannot find "Material.Desktop" module"
I have papyros-shell built fine, but running it I have errors about missing Material.Desktop (I have installed qml-material) and missing glyphs:

	# EGL_PLATFORM=hwcomposer ./papyros-shell  -platform hwcomposer
	EGLFS: Screen Info
	 - Physical size: QSizeF(0, 0)
	 - Screen size: QSize(1920, 1080)
	 - Screen depth: 32
	== hwcomposer module ==
	 * Address: 0xb5395004
	 * Module API Version: 1
	 * HA

[2015-02-16 04:48] mihailescu2m commented on #38
Material.Desktop is in qml-desktop repository ... README should be updated to include qml-desktop as dependency...

Any idea about the missing glyphs?

[2015-02-16 06:47] mihailescu2m commented on #25
I have it build and running with Qt 5.4.1 and Wayland 1.7 on debian jessie ... but it only starts with some animation on some blue bg, then I get a black screen with a white dock. So "running" might be an overstatement :)

[2015-02-16 10:14] boghison commented on #38
The fonts are integrated into `qml-material`. You should really split the issue into two issues (one for the glyphs and one for the dependency)

[2015-02-16 10:19] mihailescu2m commented on #38
I have edited the title with the important issue: load glyph failed, which is probably responsible for the fact that I get an empty desktop, with no response.
I am using hwcomposer plugin, which is derived from EGLFS.

[2015-02-16 13:09] 29jm commented on #37
Yes and papyros-shell.qrc hasn't been updated either so qmake fails. I can provide a patch? I never made a pull request before but I can try.

[2015-02-17 12:35] 29jm commented on #25
I have it running on Arch with wayland. I start it from a tty after killing gnome-shell (this is needed, apparently there can only be one wayland session at a time), but I can also start it from GDM (make install is required for this).
And it only works if I logged in as root, as a normal user I can't control the mouse (it says it can't access /dev/event-something). I'm with Qt 5.5 (all qt package

[2015-02-17 13:48] boghison commented on #25
@29jm Could you walk us through more explicitly? I am also trying to get this started. I killed gnome-shell  and pressed Ctrl+Alt+F3 (which will prompt me into a tty login) from where I logged in as root and just ran papyros-session and it failed with a cannot create window error (no screens available). The tty then froze ie the input dash is blinking but I cannot interact with it from the keyboar

[2015-02-17 14:19] 29jm commented on #25
Hmm, sorry I don't recall getting this error. I guess you already have all qt5-*-git packages? Maybe it's related to your graphic driver? I have an old amd card (HD4890 I think).
I found this bug report https://bugreports.qt.io/browse/QTBUG-43325 it suggests modifying the platform flag, but I didn't have to.
I don't really know how to help you, sorry, but ask me for any details

[2015-02-17 14:22] boghison commented on #25
@29jm Oh yes, NVidia Optimus is a pain (that's usually the cause for *all* the errors on my machine)

[2015-02-17 14:42] 29jm commented on #25
@boghison Ah, bad luck. I don't know how it works but maybe you use the proprietary driver when in a tty? Wayland doesn't work on proprietary drivers

[2015-02-17 14:47] boghison commented on #25
@29jm Weston works, Gnome on Wayland works, so...

[2015-02-17 14:54] 29jm commented on #25
@boghison Oh, I really have no idea about your error then, sorry :(

[2015-02-17 23:18] mihailescu2m commented on #25
@boghison maybe you need to explicitly set the platform.
for example, I start it with:
EGL_PLATFORM=hwcomposer ./papyros-shell -platform hwcomposer -plugin EvdevMouse -plugin EvdevKeyboard

try adding "-platform eglfs" or even better, set the QT_QPA_PLATFORM  env variable to the appropriate platform.

from http://doc.qt.io/qt-5/embedded-linux.html: "There are multiple platform plugins that are pot

[2015-02-18 14:57] boghison commented on #25
@mihailescu2m I tried running it explicitly from a tty, it still gives a no window error.

[2015-02-21 15:06] 29jm opened #40 "Can't exit shell when run as a wayland compositor"
When I do Control+Alt+Backspace, Qt.quit() is called from QML, but it does nothing and prints the message:
[code]
Note that it only does that when I run directly from the tty, not with platform -xcb from X
I fixed it by adding
[code]
to src/main.cpp.
Didn't want to open a pull request just for that, I hope it's alright

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](ht

[2015-02-21 15:10] boghison commented on #40
@29jm Please go ahead and open one, every contribution matters :)

[2015-02-21 15:50] 29jm commented on #40
@boghison Ok, I just did.

[2015-02-21 15:51] boghison commented on #40
@29jm Thank you :)

[2015-02-22 15:45] Mr1Penguin opened #42 "Material.Desktop does not exists"
I installed all requested packages but Shell.xml can't find Material.Desktop. Just noticed that there is no module with name 'Desktop' in qml-materials.
Shell ouput: qrc:/qml/Shell.qml:21:1: module "Material.Desktop" is not installed

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8804941-material-desktop-does-not-exists?utm_campaign

[2015-02-22 15:47] boghison commented on #42
@Mr1Penguin  Did you install [it](https://github.com/papyros/qml-desktop)?

[2015-02-22 15:56] Mr1Penguin commented on #42
I didn't.
Now it works. Thanks. I assume it will be a good idea to add this to Readme.md. Or i can(must?) do it myself?

[2015-02-22 15:57] boghison commented on #42
@Mr1Penguin Yeah, feel free to submit a PR :)

[2015-02-22 15:57] #42 closed

[2015-02-23 01:19] #40 closed

[2015-02-23 07:59] mihailescu2m commented on #38
this is a video of the desktop, with the load glyph failed: https://www.youtube.com/watch?v=5Ha6vFol8ck
the background loads, but that's all..

[2015-02-23 08:03] #37 closed

[2015-02-26 22:45] crutchcorn commented on #18
I will be working on this and will see if I can get this working. I honestly believe @iBeliever as he said that he was able to and I would like to as well

[2015-02-26 22:45] crutchcorn commented on #18
Will be making a bash script to make really easy (for ubuntu) if I can get working

[2015-02-27 00:54] crutchcorn opened #46 "QtCompositor: Failed to initialize EGL display. Could not get EglDisplay for window."
Installed papyros-shell-git via yaourt, everything worked fine, but when I run papyros-shell, I get this error.
QtCompositor: Failed to initialize EGL display. Could not get EglDisplay for window.
qrc:/qml/Shell.qml:119:9: Type Dock unavailable
qrc:/qml/launcher/Dock.qml:65:14: Type AppIcon unavailable
qrc:/qml/components/AppIcon.qml:177:5: Type Tooltip unavailable
qrc:/qml/components/Tooltip.qml:

[2015-02-27 01:24] ricardomv commented on #46
can you test this with the fix/errors branch?

[2015-02-27 01:30] crutchcorn commented on #46
It works!

[2015-02-27 01:32] crutchcorn commented on #46
Although, I keep getting
'file:///usr/lib/qt/wml/Material/PopupBase.qml:##: TypeError: Type error'

[2015-02-27 01:39] ricardomv commented on #46
We are still catching up with qml-material changes

[2015-02-27 01:42] crutchcorn commented on #46
Sounds good. :) Thank you for the info!

[2015-03-02 22:43] fedya opened #48 "error: no matching function for call to QWaylandQuickCompositor::QWaylandQuickCompositor"
Executing(%build): /bin/sh -e /var/tmp/rpm-tmp.92661
+ umask 022
+ cd /home/fedya/papyros-shell/BUILD
+ cd papyros-shell-0.0.0-20150303
+ '[' 1 -eq 1 ']'
+ '[' 1 -eq 1 ']'
+ CPPFLAGS='-Oz -Wa,--compress-debug-sections -gdwarf-4 -Wstrict-aliasing=2 -pipe -Wformat -Werror=format-security -D_FORTIFY_SOURCE=2 -fstack-protector --param=ssp-buffer-size=4  -fPIC -DPIC -fPIC'
+ export CPPFLAGS
+ /usr/bin/

[2015-03-02 22:51] iBeliever commented on #48
There was a recent change in QtCompositor. You need to re-built it from the 5.5 branch. If you're not willing to do that, revert the [selected line in this commit](https://github.com/papyros/papyros-shell/commit/3247afa108c3383809e15482e5cfce6d5105dfe2#diff-5dd702b5160f17b1de6dc1b88f1953b7L44) locally.

[2015-03-04 15:36] ricardomv commented on #46
fix/errors has been merged

[2015-03-04 15:36] #46 closed

[2015-03-04 15:40] ricardomv commented on #34
sorry it took so long for someone to answer this, but it's in the README.md you need to enable qtcomposiror when building qtwayland

[2015-03-04 15:41] #34 closed

[2015-03-04 15:42] #32 closed

[2015-03-04 15:42] #24 closed

[2015-03-04 20:06] crutchcorn opened #50 "Makefile:426: recipe for target 'qmlcompositor.o' failed"
When I run make I run into this issue:
/usr/include/qt/QtCompositor/qwaylandquickcompositor.h:56:5: note:   no known conversion for argument 1 from ‘const char [14]’ to ‘QQuickWindow*’
/usr/include/qt/QtCompositor/qwaylandquickcompositor.h:53:27: note: QWaylandQuickCompositor::QWaylandQuickCompositor(const QWaylandQuickCompositor&)
 class Q_COMPOSITOR_EXPORT QWaylandQuickCompositor : public QWayla

[2015-03-05 02:27] alex285 opened #51 "The desktop failed to materialize"
qrc:/qml/Shell.qml:119:9: Type Dock unavailable
qrc:/qml/launcher/Dock.qml:65:14: Type AppIcon unavailable
qrc:/qml/components/AppIcon.qml:51:17: Cannot assign to non-existent property "onClicked"

On Arch from Papyros repository, version  Papyros 0.0.5.3

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9211861-the-desktop-failed-to-m

[2015-03-05 02:38] iBeliever commented on #51
Can you check the version of `qml-material` you have installed? It should be `0.0.5-2`. (You can run `pacman -Qi qml-material` to get that information).

[2015-03-05 02:46] alex285 commented on #51
I had 0.0.4-1. Updating fixed the issue. Thanks!

[2015-03-05 02:46] #51 closed

[2015-03-05 02:47] iBeliever commented on #51
Great, glad that fixed your problem!

[2015-03-05 02:49] iBeliever commented on #50
Check out #48. You need to update to the latest version of Qt 5.5, or revert the affected line.

[2015-03-05 02:49] #50 closed

[2015-03-05 02:50] iBeliever commented on #10
Closing now as we have better build instructions and an [Arch repo](http://papyros.io/2015/02/08/repository-for-early-testing.html).

[2015-03-05 02:50] #10 closed

[2015-03-06 02:01] Collinthegeek opened #52 "Shell hangs with possible QQuickItem::polish() loop"
I'm on arch Linux, Everything installed fine with no errors. I get this error when I run, I see a blue screen that says welcome but nothing works and I have to ^c to kill it. I fixed it temporarily by moving the qml folder to / but it only worked once and doesn't work again.

http://pastebin.com/4K9QADww

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bount

[2015-03-06 02:39] Collinthegeek commented on #52
I managed to fix this in a REALLY REALLY bad way, I moved the qml folder to /

[2015-03-06 15:31] Collinthegeek commented on #30
@fedya can you tell me how you did this?

[2015-03-06 15:34] iBeliever commented on #30
Take a look at #20, which is the same or similar problem.

[2015-03-06 15:35] iBeliever commented on #31
This looks like a duplicate of #20.

[2015-03-06 16:47] fedya commented on #30
@Collinthegeek https://abf.io/openmandriva/qt5-qtbase/blob/master/qt5-qtbase.spec#lc-1105

[2015-03-07 15:31] n3rdopolis opened #53 "Papyros-Shell does not work on Weston with the fullscreen-shell.so"
It seems that when I try to start papyros-shell on a Weston server that has been called with

weston --no-config --shell=fullscreen-shell.so --socket=wlhost-1
export WAYLAND_DISPLAY=wlhost-1
export QT_QPA_PLATFORM=wayland
papyros-shell

nothing appears on the screen, and nothing interesting appears in the logs.

However, if from an existing Wayland session, (with the standard desktop-shell.so)
I c

[2015-03-07 15:34] iBeliever commented on #53
Good news, I'm working on a Green Island port of Papyros to evaluate switching to it completely.

Currently, on Arch Linux, I get a black screen when trying to run Hawaii or Green Island from the login manager, so nothing is ready to test, but I'll let you know when we have something that works.

[2015-03-07 15:36] n3rdopolis commented on #53
cool. thanks!

[2015-03-07 15:42] ricardomv commented on #53
you can also start the shell in fullscreen with the eglfs platform

[2015-03-07 17:18] n3rdopolis commented on #53
ricardomv: I think that appears to require root permissions though, because eglfs doesn't support logind yet?

[2015-03-07 17:21] iBeliever commented on #53
@n3rdopolis It can work without root permissions if you give your user access to the necessary device files. See [this post](http://blog.qt.io/blog/2015/01/20/qt-weekly-23-qt-5-5-enhancements-for-linux-graphics-and-input-stacks/), especially the Troubleshooting section.

[2015-03-07 17:22] iBeliever commented on #53
I know it works because I've successfully used our current Papyros shell by logging in from GDM.

[2015-03-07 18:41] ricardomv commented on #53
i think in virtual box you have to login as root to use eglfs

[2015-03-07 19:59] n3rdopolis commented on #53
Yes. VirtualBox would require root because of the Framebuffer device, unless you grant the user permissions to /dev/fb0 manually
or add a
SUBSYSTEM=="graphics", KERNEL=="fb*", TAG+="uaccess"
line to a /lib/udev/rules.d/ file... (although this causes issues with Weston https://bugs.freedesktop.org/show_bug.cgi?id=73782 I'm not sure how it would work with Qt's eglfs)

Thanks for your fast replies, I

[2015-03-12 04:05] FiveYellowMice opened #54 "Yaourt compilation error: collect2: error: ld returned 1 exit status"
Error message as shown below:

==> Continue building papyros-shell-git ? [Y/n]
==> -------------------------------------------
==>
==> Building and installing package
==> Making package: papyros-shell-git b023cd5c-1 (Thu Mar 12 14:54:46 AEDT 2015)
==> Checking runtime dependencies...
==> Checking buildtime dependencies...
==> Retrieving sources...
  -> Updating papyros-shell git repo...
Fetching o

[2015-03-18 17:11] Collinux commented on #18
I'm also trying to make this work on Ubuntu. It asks you to have qml-material made for papyros-shell, then qml-material has you make qml-extras for itself, which is used on papyros-shell. This is really confusing, can you create a package or a bash shell to make this installation a little more convenient?

Another issue: how do we install qml-extras as a module?

Also I'm getting the error `Projec

[2015-03-19 16:20] aivel opened #57 "Installation on Arch(problem w. qt5-base-git/qt5-wayland-dev-git)"
Hi! Get an error while trying to install Papyros-shell on Arch(from aur). The problem is with qt5-base-git package(when trying to install 0.0.3-1 version, http://joxi.ru/D2P4KNVhlYPY23) or with qt5-wayland-dev-git (806a7827-1 version, http://joxi.ru/l2Z1XznTOa1jmJ). How do I deal with it?
Thanks

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.c

[2015-03-19 19:32] pspkzar commented on #57
I got the same issue as well. any way arround it?

[2015-03-20 15:09] Manouchehri commented on #57
This isn't a Papyros problem. Issue should be closed.

If you actually read the comments on the AUR, you would see that both packages are unable to clone with git on Gitorious, so all you have to do is switch to HTTPS.

I'll fix both packages later this weekend and email the author with an updated PKGBUILD, but in the meantime all you have to do is change the one line.

[2015-03-20 15:48] waldyrious commented on #57
Link for convenience: https://aur.archlinux.org/packages/qt5-base-git#news

[2015-03-20 19:38] Manouchehri commented on #57
I've adopted qt5-base-git and submitted a new PKGBUILD. I've emailed the maintainer of qt5-wayland-dev-git a new PKGBUILD as well, but as of now it has not been uploaded yet.

These messages should really be written on the AUR itself, not here. It's the wrong place. It's much easier to get in contact with package maintainers if you post where they expect you to.

[2015-03-21 16:17] Manouchehri commented on #57
qt5-wayland-dev-git has been updated as well. There should be no more issues.

[2015-03-21 16:48] aivel commented on #57
Thanks!

[2015-03-21 16:48] #57 closed

[2015-03-23 04:50] CameronNemo commented on #17
@naguirre You would ideally have both for users who want to use connman in place of Network Manager. But most distros/people use network manager so it is probably the best option.

[2015-03-25 22:31] djmaze commented on #52
Have the same issue. Only about 50% of my attempts to start papyros-shell are successful. I am on Arch Linux, too.

[2015-03-25 22:41] Collinthegeek commented on #52
Same, it works occasionally

On Wed, Mar 25, 2015, 5:31 PM Martin Honermeyer <notifications@github.com>
wrote:

[2015-03-25 23:12] ricardomv commented on #54
how did you install qtwayland? the error is in QtCompositor `Qt5Compositor.so: undefined reference to QDebug::putString`

[2015-03-25 23:14] #31 closed

[2015-03-25 23:23] ricardomv commented on #21
You have to be more specific, what are you trying to achieve? The shell is not complete so not all the functionalities are implemented.

[2015-03-25 23:24] FiveYellowMice commented on #54
I install it from AUR via yaourt, followed all the dependencies.

[2015-03-26 00:05] ricardomv commented on #54
Can you try to install qt5-wayland-git again?

[2015-03-26 00:22] fedya opened #58 "Type Panel unavailable"
I'm trying to run papyros-shell on my imx6q board

[root@localhost qml-compositor]# /usr/bin/papyros-shell -platform eglfs
MESA-LOADER: malformed or no PCI ID
gbm: failed to open any driver (search paths /usr/lib/dri)
gbm: Last dlopen error: /usr/lib/dri/imx-drm_dri.so: cannot open shared object file: No such file or directory
failed to load driver: imx-drm
No modes available for output "HDMI1"
Qt

[2015-03-26 00:22] fedya commented on #58
And i see only red screen

[2015-03-26 00:27] juston-li commented on #58
qrc:/qml/launcher/AppDrawer.qml:111:9: Cannot assign to non-existent property "iconSize"

I got it to work commenting out iconSize: units.dp(50)

[2015-03-26 00:48] juston-li commented on #58
iconSize was removed by this commit from qml-desktop
https://github.com/papyros/qml-desktop/commit/81e8f4d23a21fd5cad93a4c4e5b6a3b381036878

[2015-03-26 07:41] juston-li commented on #52
Works maybe once in 15-20 tries for me. Also running Arch

[2015-03-26 11:52] fedya commented on #58
When i removed it, just got another errors
https://gist.github.com/fedya/ec83243eba8765312212

[2015-03-28 16:09] Collinthegeek opened #59 "Qmake not working in Green Island branch"
I'm trying to compile the greenisland branch and have installed the dependencies with no problem at all. When I get to installing the shell itself Qmake asks me If I want to use project or makefile mode, I've tried both and neither one works. The error I get:

$ qmake
Usage: qmake [mode] [options] [files]

QMake has two modes, one mode for generating project files based on
some heuristics, and the

[2015-03-28 16:35] Collinthegeek commented on #51
I don't get this issue using the repository but do with the github version.

[2015-03-28 17:32] iBeliever commented on #59
The GreenIsland port uses CMake instead of QMake. Compile the shell like this:

     $ mkdir build; cd build
     $ cmake ..
     $ make
     $ sudo make install

And run it using:

    $ greenisland -p io.papyros.shell

[2015-03-28 17:37] Collinthegeek commented on #59
CMake Error at CMakeLists.txt:11 (find_package):
  Could not find a package configuration file provided by "ECM" (requested
  version 1.4.0) with any of the following names:

    ECMConfig.cmake
    ecm-config.cmake

  Add the installation prefix of "ECM" to CMAKE_PREFIX_PATH or set "ECM_DIR"
  to a directory containing one of the above files.  If "ECM" provides a
  separate development package or

[2015-03-28 17:40] iBeliever commented on #59
@Collinthegeek Do you have [GreenIsland](https://github.com/greenisland/greenisland) installed? Make sure you have that and it's dependencies installed.

[2015-03-28 17:44] Collinthegeek commented on #59
@iBeliever In AUR its showing up as greenisland but pacman isn't finding it,

[2015-03-28 17:45] iBeliever commented on #59
@Collinthegeek `pacman` can't access the AUR. You need to manually install stuff from the AUR or use `yaourt`.

[2015-04-01 13:09] hsarkanen commented on #58
I have also tried papyros-shell on imx6 board earlier this year, with no luck. IIRC I saw also some blue error screen which came after the red one mentioning having some runtime qml issues around papyros-shell and its dependencies similar to your "iconSize error", which I think were also caused by that I didn't have working combination of the papyros repositories. Things like greenisland integrati

[2015-04-01 14:01] fedya commented on #58
3.10.53 - "blue screen" not working without proprietary video drivers
3.19.2 -  at least i can run papyros with free stuff

5.5.0.aplha

if you want i can provide you a small instruction how to run OpenMandriva ARMv7 image on imx6 device
All packages related to papyros-shell and qt5.5.0 already built for armv7hl (hardfloat)

take a look on example: https://abf.io/build_lists/2476815
is papyros for

[2015-04-01 14:02] fedya commented on #58
I'm pretty sure that papyros-shell never was in a working state ;)
And i still waiting for first working release.

[2015-04-01 16:26] #58 closed

[2015-04-01 16:37] ricardomv commented on #58
@fedya i fixed the `iconSize` issue in the previous commit. If you have any more issues starting the shell please open a new issue but first check if there isn't one open yet. The glyph issue seems to be the same as reported in #38. The shell should work using qmlscene qml/main.qml in a X11 session, please also understand that QtCompositor is an experimental component and it's in active developmen

[2015-04-01 20:20] fedya commented on #58
Well, i rebuilt papyros-shell with your patch and now i got this

qrc:/qml/components/AppIcon.qml:98: ReferenceError: screenLocked is not defined
qrc:/qml/components/AppIcon.qml:174:16: Unable to assign [undefined] to QColor
qrc:/qml/components/AppIcon.qml:33: ReferenceError: application is not defined
qrc:/qml/components/AppIcon.qml:98: ReferenceError: screenLocked is not defined
qrc:/qml/compone

[2015-04-01 21:15] iBeliever commented on #58
@fedya Yes, Papyros has been in a working state in the past, and still works today in the `greenisland` branch. I've posted many screenshots of it working on our Google+ page. It's just very tricky to get working as it requires set up on the host computer along with compiling Qt 5.5 with the right configuration flags to enable QtCompositor to work.

@ricardomv Thanks for fixing the iconSize bug.

[2015-04-01 23:22] fedya commented on #58
@iBeliever looks like my issue related to imx6 board

[2015-04-02 02:33] lordadamson commented on #28
if I compile and run the tst_extras and it gives me 12 success and 0 failures. does that mean that I've installed the extras successfully?

if so I'm using fedora 21 and here is what I have done to accomplish that:
on file qml-extras.pro
remove the line that says: SUBDIRS += tests

and then run qmake-qt5
and then open the Makefile and remove the line that says: first: make_first
then make and make

[2015-04-02 11:37] hsarkanen commented on #58
@fedya Thanks for the info. If you have everything compiled in rootfs or rpm packages for Mandriva I would like to try it out on my imx6 board, you can contact my email in github account for example. Although I'm mostly interested running papyros-shell on my own Yocto distro not on Mandriva or Arch etc. Maybe it's not that interesting to try out any Qt version from 5.4 branch if 5.5 alpha1 is know

[2015-04-02 12:14] fedya commented on #58
@hsarkanen
Options like WAYLAND-COMPOSITOR enabled in Oma by default
look: https://abf.io/openmandriva/qt5-qtwayland/blob/master/qt5-qtwayland.spec#lc-204

I'll send email to you with short instructions how to run oma on imx6

[2015-04-09 14:41] iBeliever opened #61 "Dark/light mode based on brightness"
We should include a switch in the Settings app that enables an automatic data/light mode. This could either be based on a light sensor if the device as one, or the time of day (day = light, night = dark).

This setting would affect things like notifications, dropdowns, the app launcher, etc.

(Originally reported by Joe Smith on [Google+](https://plus.google.com/b/113262712329378697012/photos/1132

[2015-04-10 00:38] Joe12323231 commented on #61
Thanks for adding my idea over here :) (This is Joe Smith from Google+)

[2015-04-10 00:40] Joe12323231 commented on #61
I recommend this theme changer should automatically change only by time based, not light sensor based as light sensors can be easily affected by anything such as a shadow etc.

[2015-04-10 22:13] Collinthegeek opened #62 "libicui18n.so.54"
I installed Papyros-shell from the repository and now I'm getting

$ papyros-shell
papyros-shell: error while loading shared libraries: libicui18n.so.54: cannot open shared object file: No such file or directory

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/10885684-libicui18n-so-54?utm_campaign=plugin&utm_content=tracker%2F8658931

[2015-04-11 11:44] 29jm commented on #62
This post seems relevant, assuming you're on Arch https://bbs.archlinux.org/viewtopic.php?id=160271

[2015-04-11 11:51] 29jm commented on #62
The package containing this library is `icu` on Arch, try installing that

[2015-04-13 11:10] itatriev commented on #28
People, please pay attention that your ```makefile``` refers to an actual version of ```qmake```. Also, as this might help you, use ```deployment.path=/preferable/path/to``` in ```.pro``` file if you have any issues with incorrect installation path as I had.

[2015-04-14 21:45] danikron commented on #62
The `icu` package has been updated to `icu 55.1-1` which brings `libicui18n.so.54` to `libicui18n.so.55` and `libicuuc.so.54` to `libicuuc.so.55`.

[2015-04-16 02:46] iBeliever commented on #48
Closing now as there has been no further discussion on this issue and the compiler error is solved by the Qt 5.5 alpha (and development branches).

[2015-04-16 02:46] #48 closed

[2015-04-16 19:12] flirtyheri opened #63 "Type NotificationsView unavailable...non-existent property "onNotificationRemoved""
Getting this error when launching papyros-shell on Arch-Linux with the most recent QT libs and Git Packages.
qrc:/qml/Shell.qml:127:9: Type NotificationsView unavailable
qrc:/qml/notifications/NotificationsView.qml:86:9: Cannot assign to non-existent property "onNotificationRemoved"

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/113

[2015-04-22 23:59] fedya commented on #63
same for me

[2015-04-23 22:52] Cheapskate01 commented on #62
Is there a way to download a previous version of icu?

[2015-04-24 09:33] danikron commented on #62
Probably, but I don't think that's a very good idea. Likely there are many other packages that make calls to `icu` and which would also have to be downgraded. It's probably best to wait until `qt5-base-git` is updated to make the correct calls, or `papyros-shell` is altered to use the `qt5-base` package instead.

[2015-04-28 04:04] Collinthegeek commented on #62
Or make symlinks to fake it

[2015-04-28 04:04] Collinthegeek commented on #62
@cheapskate01@danikron /\

[2015-04-28 16:21] iBeliever commented on #62
Is this still an issue after rebuilding `qt5-base-git` after the ice package was updated? If so, this should get reported upstream so the Qt guys can fix it.

[2015-04-28 23:46] iBeliever commented on #62
I rebuilt Qt 5 from the AUR and it everything works fine now (testing with the Green Island branch). So to fix this problem, either rebuilt from the AUR, or install the packages I built. Our new Papyros build server & repo is at http://45.55.156.48 (repo path = http://45.55.156.48/repos/$repo/$arch). Once I finish building all the packages, I'll move that to the public domain http://build.papyros.

[2015-04-29 02:10] Cheapskate01 commented on #62
Now it says something about libproxy.so.1.

[2015-04-29 02:33] iBeliever commented on #62
@Cheapskate01 I'm guessing you used the papyros-shell package from the old repo?

[2015-04-29 10:30] Cheapskate01 commented on #62
I honestly don''t know. I changed the pacman.conf file and ran the sudo pacman -Syu command. It updated qt5-base-git. How would I update the papyros shell.
I'm used to debian, not arch so I seem like a newb.

[2015-04-29 20:39] Cheapskate01 commented on #62
wait, let me run a quick update.

[2015-04-29 20:59] Cheapskate01 commented on #62
How does one update this? I tried and it doesn't find target

[2015-04-30 08:33] danikron commented on #62
Using Pacman you need to make sure that the entry for the new repo is above the AUR repo in pacman.conf before reinstalling. Alternatively you could use Yaourt, which should let you pick which repo to install from.

[2015-05-06 09:19] bigfoot90 commented on #62
@Collinthegeek I've solved with ```pacman -S libproxy```

[2015-05-06 11:15] Psykopear commented on #63
Same here

[2015-05-06 21:34] kyuz0 commented on #62
Hi. So, I just installed a clean copy of Arch today. I originally tried to use the repository on the website, but I got the libicui18n.so.54 error. I then removed that repository and installed the new one you pointed out to. That seemed to trigger some qt updates. However, the papyros-shell was not loading, different error related to missing qt platform plugin xcb. Then, I removed papyros-shell an

[2015-05-07 01:52] iBelieve commented on #63
The focus has now switched from the original shell to the Green Island-based one (now in the `develop` branch). This bug is fixed in the latest code in `develop`.

[2015-05-07 01:52] #63 closed

[2015-05-07 01:53] iBelieve commented on #59
Closing as the `develop` branch now uses CMake and the QMake project files are gone. Please open a new issue if there are further problems with the CMake configuration.

[2015-05-07 01:53] #59 closed

[2015-05-07 01:55] iBelieve commented on #53
Papyros Shell is now based on GreenIsland, and can either use a Weston backend or render directly using eglfs.

[2015-05-07 01:55] #53 closed

[2015-05-07 10:52] n3rdopolis commented on #53
How do I run it?

It only is is installing things to
/opt/share/greenisland/io.papyros.shell

and nothing in
/opt/bin

I tried
greenisland-launcher --fullscreen-shell -s io.papyros.shell

and I get a blank screen...

[2015-05-07 20:11] bigfoot90 commented on #62
@kyuz0 I am exactly in the same situation.

@iBeliever \cc

[2015-05-07 23:08] n3rdopolis opened #64 "papyros develop branch doesn't install any executables"
I try
greenisland-launcher --fullscreen-shell -s io.papyros.shell
but it doesn't appear to work?

In my checkinstalled deb it seems that only qml files are getting installed

Thanks

[2015-05-09 00:51] iBelieve opened #65 "Update README and build instructions"

[2015-05-09 00:52] iBelieve opened #66 "Persistent notifications design & implementation"
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/13781151-persistent-notifications-design-implementation?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm

[2015-05-09 00:52] iBelieve opened #67 "Music widget integration"
Either integrate with the notifications view or with the sound menu
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/13781165-music-widget-integration?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_

[2015-05-09 00:54] iBelieve opened #68 "Session management [$50 awarded]"
Lock, logout, shutdown, reboot, etc. in the system indicator.

This will require a C++ QML plugin to access the session API. This can possibly be forked from Hawaii desktop.

A power dialog will be implemented in #79.
##

<bountysource-plugin>
---
The **[$50 bounty](https://www.bountysource.com/issues/13781280-session-management?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&u

[2015-05-09 00:54] iBelieve opened #69 "Lockscreen"
Session management will be implemented in  #68.

Features will include:
- Dialog with username, face, and password prompt to log back in
- Panel with non-private system indicators (battery, power, sound, etc)

[2015-05-09 00:55] iBelieve opened #70 "Pinned apps in the app shelf"
Display pinned apps, save them somewhere, and allow launching pinned apps.

[2015-05-09 00:56] iBelieve opened #71 "New app drawer designs"
Corbin is working on some designs for an updated app drawer

[2015-05-09 01:00] iBelieve opened #72 "Battery indicator [$15 awarded]"
Display primary battery information, as well as any additional batteries. The battery backend and indicator are already implemented, we just need a UI for the indicator popover.

Screen brightness will be implemented in #83.
##

<bountysource-plugin>
---
The **[$15 bounty](https://www.bountysource.com/issues/13781722-battery-indicator?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=is

[2015-05-09 01:34] iBelieve opened #73 "Desktop workspaces"
This should be triggered by a hot corner and an icon to the right of the app launcher icon, similar to Windows 10.

[2015-05-09 01:35] iBelieve opened #74 "Window switcher"

[2015-05-09 01:35] iBelieve opened #75 "Reveal desktop effect"
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/13786677-reveal-desktop-effect?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github).
</bount

[2015-05-09 01:35] iBelieve opened #76 "Window spread effect [$15]"
- [x] Basic window spread functionality
- [x] Respread windows when a window is added or removed
- [ ] Tap on a window to focus it and exit the workspace spread
- [ ] Show the app name, possibly an icon, and a close button for each window ("window chrome")
- [ ] Create affects support for `GreenIsland.Desktop`
- [ ] Group windows by application
##

<bountysource-plugin>
---
There is a **[$15 open

[2015-05-09 15:59] n3rdopolis commented on #64
I think the README is out of date in the develop branch, as it still says to use qmake, and it seems there is no more papyros-shell binary that gets installed

[2015-05-10 00:50] iBelieve opened #77 "Show windows in the panel"
Until greenisland/greenisland#64 gets implemented, we can just display open windows in the app, instead of combining windows into a single launcher icon.

[2015-05-11 01:18] #65 closed, assigned to nobody

[2015-05-11 01:18] #74 closed, assigned to nobody

[2015-05-11 01:18] #77 closed, assigned to nobody

[2015-05-11 01:18] iBelieve commented on #64
The README is now updated to include up-to-date build instructions. Hope this helps!

[2015-05-11 01:20] iBelieve commented on #52
The shell now launches 100% of the time, no random problems. The main issue right now is interacting with windows usually crashes the app and often the shell as well. This is filed as an upstream bug in Green Island (see greenisland/greenisland#76). Please check out the latest code from the `develop` branch.

[2015-05-11 01:20] #52 closed

[2015-05-11 01:22] iBelieve commented on #21
Tracking open windows is implemented now. Tracking windows grouped as apps will be implemented in #70.

[2015-05-11 01:22] #21 closed

[2015-05-11 11:58] kingwill101 commented on #21
@iBeliever  where can i find the implementation?

[2015-05-13 01:40] iBelieve opened #78 "Storage devices indicator"
We can probably share or fork the backend used by Hawaii desktop.

(I've reached out to the Hawaii dev to create a repository to share work on QML plugins for stuff like this.)

[2015-05-13 01:42] iBelieve opened #79 "Power dialog [$25 awarded]"
Should be accessed by pressing the power button.

Options should include:
- Log out
- Power off
- Reboot
- Silent mode

Design will be similar to this dribble mockup: https://dribbble.com/shots/1939117-Advanced-Power-Menu-Concept-Android-Lollipop
##

<bountysource-plugin>
---
The **[$25 bounty](https://www.bountysource.com/issues/14557908-power-dialog?utm_campaign=plugin&utm_content=tracker%2F8658

[2015-05-13 01:43] iBelieve opened #80 "Session management"
Lock, logout, shutdown, reboot, etc.

[2015-05-13 01:45] iBelieve opened #81 "Sound indicator"

[2015-05-13 02:30] #81 closed, assigned to nobody

[2015-05-13 09:49] eyelash commented on #80
this seems to be a duplicate of #68

[2015-05-13 22:46] iBelieve opened #82 "Merge in code from qml-desktop"
Having code in two separate repositories leads to out-of-sync issues and is more difficult to manage. We don't need a separate repository unless we're going to share work with other projects.

[2015-05-13 22:51] iBelieve opened #83 "Brightness control in the battery indicator"
This will require a C++ plugin the control the brightness through some suitable API.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/14733041-brightness-control-in-the-battery-indicator?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountys

[2015-05-13 22:54] iBelieve commented on #80
@eyelash Yep, good catch :)

[2015-05-13 22:54] #80 closed, assigned to nobody

[2015-05-13 23:15] iBelieve opened #84 "Application management"
Create a backend model for managing applications. Based on the GreenIsland application manager or from a fork of the Hawaii desktop application management code.

[2015-05-13 23:21] iBelieve opened #85 "Group by applications in the window switcher [$5 awarded]"
Depends on #84. Similar to the app switcher in OS X or GNOME.
##

<bountysource-plugin>

---
The **[$5 bounty](https://www.bountysource.com/issues/14736555-group-by-applications-in-the-window-switcher?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** on this issue has been claimed at [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content

[2015-05-13 23:22] iBelieve opened #86 "Group by applications in the app shelf"
Depends on #84.

[2015-05-14 00:31] #82 closed, assigned to iBelieve

[2015-05-14 00:35] iBelieve opened #87 "Use QtXdg for desktop file parsing"

[2015-05-14 00:36] iBelieve opened #88 "Model of persistent notifications"
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/14746918-model-of-persistent-notifications?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=githu

[2015-05-14 00:37] iBelieve opened #89 "Notifications drawer"
Depends on #88
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/14747004-notifications-drawer?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=git

[2015-05-14 01:20] #78 closed, assigned to nobody

[2015-05-14 02:17] iBelieve commented on #83
I've been researching this all evening. Seems like there is no suitable DBus service to do this. It looks like the only way to control the screen brightness is writing a service that runs as the root user.

[2015-05-14 12:38] kingwill101 commented on #83
while searching i found this
dbus-send --session --print-reply  --dest="org.gnome.SettingsDaemon"     /org/gnome/SettingsDaemon/Power org.gnome.SettingsDaemon.Power.Screen.SetPercentage uint32:30
 http://www.commandlinefu.com/commands/view/11846/adjust-display-hardware-brightness-dbus-way

and a somewhat better route https://svn.reviewboard.kde.org/r/6141/diff/2/#3

[2015-05-14 14:40] iBelieve commented on #83
Thanks for finding these! The first option won't work as it's for GNOME. The second option is using the backlight system file, which is what I was planning on using, but they're using some KDE stuff to make the communication and system service a bit simpler.

[2015-05-14 14:44] kingwill101 opened #90 "latest pull not working"
ive freshly cloned all the necessary repos but i keep getting alot of errors, plus i wasnt able to build our greenisland branch because cmake keeps complaining that it cant find qtwaylandscanner

[code]

[2015-05-14 14:52] kingwill101 commented on #83
@iBeliever  could we examine and implement  to serve our needs? i was wondering if there were any systemd services that already implement all of that

[2015-05-14 14:59] iBelieve commented on #90
I don't know what Linux distro you're on, but to build Green Island on Arch, I use the `cmake` line taken from [this AUR package](https://aur.archlinux.org/packages/gr/greenisland-git/PKGBUILD):

[code]

As for the import error, you need [KDeclarative](http://api.kde.org/frameworks-api/frameworks5-apidocs/kdeclarative/html/) installed. Again, if you're on Arch, the package is `kdeclarative`. I've

[2015-05-14 23:01] kingwill101 commented on #90
That fixes most of my issues but I'm still having several reference errors

[2015-05-15 13:43] kingwill101 commented on #90
@iBeliever  still not much luck on my side. Below here is the output of my build
im on arch

[code]

[code]

[2015-05-17 07:31] ctnlaring opened #91 "Window manager branch - Cmake fails"
I'm trying to install the window manager branch. When I run cmake it works for a bit then says:

CMake Error at CMakeLists.txt:15 (find_package):
  Could not find a package configuration file provided by "ECM" (requested
  version 1.4.0) with any of the following names:

[code]

  Add the installation prefix of "ECM" to CMAKE_PREFIX_PATH or set "ECM_DIR"
  to a directory containing one of the abov

[2015-05-17 13:32] iBelieve commented on #91
The window manager branch is merged into the develop branch, so it's now outdated. However, you'll get the same error for the develop branch. If you're on Arch Linux, you can install the `extra-cmake-modules` (or an equivalent package for your distro).

[2015-05-18 02:49] iBelieve commented on #84
We now have a basic application launcher model that can be extended as necessary later.

[2015-05-18 02:49] #84 closed, assigned to nobody

[2015-05-18 02:50] iBelieve commented on #86
Windows are now grouped by apps in the app shelf.

[2015-05-18 02:50] #86 closed, assigned to nobody

[2015-05-18 02:50] iBelieve commented on #70
Pinned apps are now supported and are saved to KConfig.

[2015-05-18 02:50] #70 closed, assigned to nobody

[2015-05-18 02:52] iBelieve opened #92 "Disable pinned apps if KConfig says the property is immutable"
Useful for Kiosk mode, child accounts, etc.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/15580558-disable-pinned-apps-if-kconfig-says-the-property-is-immutable?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaig

[2015-05-18 04:41] ctnlaring commented on #68
Does this enhancement include a login manager? ex: http://blog.lxde.org/wp-content/uploads/2010/01/lxdm-industrial-480x360.png

[2015-05-18 04:41] ctnlaring commented on #69
So is this the equivalent of this for lxde?

http://blog.lxde.org/wp-content/uploads/2010/01/lxdm-industrial-480x360.png

[2015-05-18 13:39] iBelieve opened #93 "Support server-side decorations [$5]"
Some apps don't provide window decorations, and the Qt client-side decorations are not Material.
##

<bountysource-plugin>
---
There is a **[$5 open bounty](https://www.bountysource.com/issues/15693241-support-server-side-decorations?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** on this issue. Add to the bounty at [Bountysource](https://www.bountysource.c

[2015-05-19 14:45] #90 closed, assigned to nobody

[2015-05-19 23:46] #87 closed, assigned to nobody

[2015-05-20 03:24] #71 closed, assigned to nobody

[2015-05-20 03:42] ctnlaring opened #95 "New app drawer broken"
In the latest pull from git my app drawer is broken. I don't have the page layout and I can't start any apps. I do however have the new font and animations.

[2015-05-20 21:55] iBelieve opened #97 "Transparent app shelf when no windows are maximized"

[2015-05-21 02:34] iBelieve opened #98 "Material Design window decorations for Qt apps"

[2015-05-21 17:50] iBelieve commented on #93
It looks like the dev from Hawaii shell is also working on server-side decorations, let's wait and see what they do: https://github.com/plfiorini/hawaii-shell/tree/wip/decor.

[2015-05-21 18:16] alexispurslane commented on #72
I was thinking about working on this, but I'm new to this project, and I'm not sure what you mean by a 'popover'.

[2015-05-22 23:55] iBelieve opened #99 "Add a session selector to the SDDM theme"

[2015-05-22 23:56] iBelieve opened #100 "Add power actions to the indicators in the SDDM theme [$10 awarded]"
##

<bountysource-plugin>
---
The **[$10 bounty](https://www.bountysource.com/issues/16858811-add-power-actions-to-the-indicators-in-the-sddm-theme?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** on this issue has been claimed at [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=githu

[2015-05-23 09:21] louwaque commented on #99
You should look at what I have make: https://github.com/papyros/sddm-theme/pull/4

[2015-05-23 14:58] dispicio opened #101 "Crashes just after starting"
Hi,
I installed papyros-shell and its dependencies using the "official" repo via pacman.

When I run the greenisland command, greenisland window comes up, "Welcome"-ing some seconds, then segfaults.

Looks like it's trying to get all application icons for the drawer.

Getting this error:

[code]

[2015-05-24 01:23] iBelieve opened #102 "Window snapping"
Left, right, top (maximized). We should have some sort of Material Design indication that a window is about to be snapped.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/17147206-window-snapping?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://w

[2015-05-24 01:44] iBelieve opened #103 "Window snap points"
Instead of just the basic maximized, and half maximized states for window snapping, we should have a draggable divider in between snapped windows to resize them simultaneously. Apps could also specify they want to be snapped to a "mobile" size, instead of a maximized or half-maximized state.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.co

[2015-05-24 01:53] iBelieve commented on #72
@christopherdumas The popover is the view that slides up from the bottom bar when you tap on an indicator. This is controlled via the `view` property in the indicator classes (see https://github.com/papyros/papyros-shell/blob/develop/shell/indicators/BatteryIndicator.qml). We already have a battery backend, and a simple repeater for displaying batteries, so basically this just needs to a nice UI t

[2015-05-24 02:37] #99 closed, assigned to nobody

[2015-05-24 08:19] pablotix20 opened #104 "Shell closes when opening an app"
I can't keep any app opened during more than 2 seconds because the shell closes, trying with the calculator:

[code]

[2015-05-24 13:30] IdrissDimson commented on #102
what about a translucent box like in Windows? It follows Material Design close enough.

[2015-05-24 13:32] iBelieve commented on #102
@VirusKA Yep, that's pretty much what I had in mind.

[2015-05-24 13:34] IdrissDimson commented on #2
shouldn't this be closed?

[2015-05-24 13:35] iBelieve commented on #2
Yes, there hasn't been any discussion on this, and we have a QtQuick Controls style, so I'll close this for now.

@raynerd Please reopen this if you're interested in helping with a Gtk or Qt theme for Material Design. Thanks!

[2015-05-24 13:35] #2 closed

[2015-05-24 13:43] ctnlaring commented on #104
I get the same problem with gnome-calculator and midori

On Sun, May 24, 2015, 3:19 AM Pablotis notifications@github.com wrote:

[2015-05-24 13:45] iBelieve commented on #104
This is an upstream bug in Green Island, see greenisland/greenisland#76. I opened a bounty of $10 on the issue, so hopefully it will get fixed soon.

[2015-05-25 02:10] #73 closed, assigned to nobody

[2015-05-26 01:12] #69 closed, assigned to nobody

[2015-05-27 06:21] luxrck commented on #72
is it ok like this https://github.com/luxrck/papyros-shell/commit/f8fa81987bdfe4bb096a01a2a95a470f965d9c7e ?

[2015-05-27 13:14] ctnlaring opened #106 "Please explain sddm in the readme"
I've tried to get the login manager working but I can't even get sddm to launch. Could you add detailed directions for sddm. (Or link to some)

[2015-05-27 19:56] iBelieve commented on #95
@Collinthegeek Is this still an issue?

[2015-05-27 23:38] #106 closed, assigned to iBelieve

[2015-05-28 01:57] iBelieve opened #107 "Evaluate and possibly implement a grid of workspaces"
From [Google+](https://plus.google.com/113262712329378697012/posts/G8yetUE2L52):

We should evaluate the possibility of having a grid of workspaces, how to choose between a linear and grid layout, and how to layout a linear model of workspaces as a grid.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/18238259-evaluate-and-possibl

[2015-05-31 23:43] #97 closed, assigned to nobody

[2015-06-01 02:35] iBelieve opened #108 "Improve the app drawer"
- [ ] Better performance on shell startup
- [x] Click indicator to switch tabs
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/19295105-improve-the-app-drawer?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=pl

[2015-06-01 02:36] ctnlaring commented on #108
Is there currently a way to switch tabs at all?

On Sun, May 31, 2015, 9:35 PM Michael Spencer notifications@github.com
wrote:

[2015-06-01 02:39] iBelieve commented on #108
@Collinthegeek I certainly wouldn't release the feature without a way to switch tabs :) Yes, there is a way - just click and drag the page as if were a touch screen.

[2015-06-02 12:05] mittalabhishek commented on #18
@crutchcorn, hey friend, any success with the bash script for installation on Ubuntu?

[2015-06-02 15:29] ctnlaring opened #110 "App shelf still transparent when windows are maximized"
I'm not sure if the transparency just ins't finished but it's still transparent when I maximize windows.

[2015-06-02 15:33] iBelieve commented on #110
@Collinthegeek Can you please include more details, such as what app you used and how you maximized it (via a maximize button or by double-clicking the title bar), as well as the version of the `papyros-shell` package. Thanks!

[2015-06-02 15:33] iBelieve commented on #95
@Collinthegeek I'm closing as the app drawer is working for me and others. If this is still an issue, please reopen with more details. Thanks!

[2015-06-02 15:33] #95 closed, assigned to nobody

[2015-06-02 15:34] ctnlaring commented on #110
Every app I tried. specifically epiphany/gnome-web. I double clicked the
title bar.

On Tue, Jun 2, 2015 at 10:33 AM Michael Spencer notifications@github.com
wrote:

[2015-06-02 15:36] ctnlaring commented on #95
Yeah I fixed it. for some reason I have to delete it manually then rebuild
it every time it updates

On Tue, Jun 2, 2015 at 10:34 AM Michael Spencer notifications@github.com
wrote:

[2015-06-02 17:22] IdrissDimson commented on #3
Is it time to be able to translate yet?

[2015-06-02 19:00] iBelieve commented on #98
This may not be necessary with the server-side window decorations, so re-targetting for version 0.2.

[2015-06-03 06:16] crutchcorn commented on #18
Not yet. I've been horribly busy... :( However, I will set aside time when I can to work on this

[2015-06-03 10:19] betseg opened #111 "(process:7269): GLib-GIO-ERROR **: Settings schema 'org.gnome.desktop.background' does not contain a key named 'show-desktopicons' Trace/breakpoint trap (core dumped)"
I type "greenisland --fake-screen ~/.config/fake-screen.json --shell io.papyros.shell" but screen crashes after 2 seconds whhile it says Welcome.

$ greenisland --fake-screen ~/.config/fake-screen.json --shell io.papyros.shell
QML debugging is enabled. Only use this in a safe environment.
greenisland.protocols.wlshell.trace: GreenIsland::WlShellGlobal::WlShellGlobal(QObject_)
greenisland.protocols

[2015-06-03 17:57] iBelieve opened #112 "Update the calendar indicator"
Google updated the date picker designs: http://www.google.com/design/spec/components/pickers.html#pickers-date-pickers

[2015-06-03 17:59] iBelieve commented on #83
@glenfordwilliams It looks like this will be implemented in QtCompositor and/or Green Island: greenisland/greenisland#89.

[2015-06-04 03:27] #111 closed, assigned to iBelieve

[2015-06-04 03:27] iBelieve commented on #111
Papyros no longer uses GSettings, so it doesn't require any GNOME-specific GSettings schemas.

[2015-06-04 15:05] IdrissDimson commented on #110
@Collinthegeek maybe a screenshot would help?

[2015-06-05 00:24] rexpa opened #113 "How can download?"
sorry i'm new with this, how can i download this OS?, I need to do a research on it, and I do not get how to download, thanks

[2015-06-05 00:28] iBelieve commented on #113
Directions are available on our website: http://papyros.io/download

The full OS is not available yet, but you can test the desktop environment on top of an existing Arch Linux installation.

[2015-06-08 01:47] emmatyping commented on #89
Ooh! You could use Google Now's Api that is coming out!

[2015-06-08 18:31] dispicio commented on #101
Works after updating the package, thanks!

[2015-06-08 18:31] #101 closed, assigned to nobody

[2015-06-09 02:16] #85 closed, assigned to nobody

[2015-06-09 23:04] VirusKA commented on #93
perhaps Swift will fix this problem :P

[2015-06-11 21:19] iBelieve commented on #64
Closing as the README is up-to-date.

[2015-06-11 21:19] #64 closed, assigned to nobody

[2015-06-11 21:20] iBelieve commented on #62
Closing as this doesn't affect the current version of Papyros Shell.

[2015-06-11 21:20] #62 closed

[2015-06-11 21:21] iBelieve commented on #11
Closing now as we have an updated README and instructions for testing at http://papyros.io/download.

[2015-06-11 21:21] #11 closed

[2015-06-11 21:21] iBelieve commented on #54
Closing now as the package properly builds on our build server, so there shouldn't be any more problems.

[2015-06-11 21:21] #54 closed

[2015-06-11 21:28] iBelieve commented on #91
Closing now as the window manager branch is outdated and the develop branch builds fine.

[2015-06-11 21:28] #91 closed, assigned to nobody

[2015-06-16 07:13] aggalex commented on #18
I'd love to see that brilliant work on Ubuntu...

[2015-06-16 16:21] IdrissDimson commented on #104
any updates on this?

[2015-06-16 16:22] pablotix20 commented on #104
It seems not =(

[2015-06-17 00:24] iBelieve commented on #17
This is fixed by @ricardomv's work that I merged in d7f4629336064fbe7647f733a5f95415c89b7d18.

@ricardomv Go ahead and claim the bounty for your work on the network indicator :+1:

[2015-06-17 00:24] #17 closed

[2015-06-17 06:48] ctnlaring commented on #104
Someone upped the bounty to $50 so it should get fixed very quickly now.

[2015-06-19 21:35] ozwaldorf commented on #18
Please write this script soon! I really want to try this!

[2015-06-19 21:36] crutchcorn commented on #18
I've gotten stuck on automating Qt5.5 install on Ubuntu. I will be working on this more when I can be. :) Just give it time - if nothing else then we'll have to wait for Qt5.5 launch (which should be soon)

[2015-06-19 21:40] ozwaldorf commented on #18
Okey. Can't wait! Also I've been wondering... Will I have to setup a new arch machine and install everything from scratch, or will they have an 'easy install' iso?
By 'easy install' I mean sortof like ubuntu with everything already set up

[2015-06-19 21:42] crutchcorn commented on #18
You can check out Antergros. There was a great G+ post by World Of Gnome as to how to easily install Papyros. ;) Later, yes, they will have an install when all is said and done

[2015-06-19 21:49] ozwaldorf commented on #18
Thanks for the suggestion! I have ubuntu gnome, but I've always wanted to switch to arch, without the hassle of the install process. I will probably actually use Antergros as my everyday os, just to get the feel and learn arch.
Big kudos to you sir!

[2015-06-19 21:50] crutchcorn commented on #18
Give Evo/Lution a try for a good Arch install

[2015-06-19 21:55] ozwaldorf commented on #18
You sir, are amazing. I looked for something like this but to no avail!

[2015-06-20 18:24] #72 closed, assigned to nobody

[2015-06-20 20:16] ozwaldorf commented on #18
@crutchcorn I tried to install on Antergos, but when I try to install the shell, it gives me `missing required signature` for all the `qt5-`, `greenisland`, and the `papyros-shell` packages. What is going wrong? (I have little to no knowledge of pacman so I don't know what's happening)
Is this a bug I should put on github or am I just doing something wrong?

Note: When I tried to install on Evo /

[2015-06-20 21:53] #100 closed, assigned to nobody

[2015-06-20 22:11] iBelieve opened #114 "Add sleep and suspend to disk actions to the system indicator"
Use the icons and text from the SDDM theme power indicator.

[2015-06-20 22:12] iBelieve commented on #110
@Collinthegeek Is this still an issue? Can you make sure you're running the latest packages from the Arch repo or from the latest Git? It should be working correctly now.

[2015-06-20 22:53] iBelieve commented on #113
I'm closing this as there hasn't been any further discussion. Please join the [Gitter chatroom](gitter.im/papyros/papyros) if you have any questions or problems with installing the shell. Thanks!

[2015-06-20 22:53] #113 closed, assigned to nobody

[2015-06-20 22:55] iBelieve opened #115 "Create a session launcher/manager for the shell"
This is necessary to start the shell from the login manager.

[2015-06-20 23:26] iBelieve opened #116 "Support switching virtual terminals"
For reference, here is [how Hawaii does it](https://github.com/hawaii-desktop/hawaii-shell/blob/master/session/vthandler.h).
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/22600937-support-switching-virtual-terminals?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [

[2015-06-20 23:28] iBelieve opened #117 "Implement the FreeDesktop screen saver D-Bus interface"
For reference, here is [how Hawaii does it](https://github.com/hawaii-desktop/hawaii-shell/blob/master/session/screensaver.h).
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/22601174-implement-the-freedesktop-screen-saver-d-bus-interface?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We a

[2015-06-21 02:28] IdrissDimson commented on #115
completed?

[2015-06-21 22:56] #115 closed, assigned to iBelieve

[2015-06-22 21:41] juston-li commented on #108
Also, I would expect to tabs to scroll horizontally with mouse wheel/touchpad vertical scrolls.

And for the click indicators, are you thinking arrows on the sides to switch tabs?
I would suggest what Chrome OS does, using lines instead of circles for the scrollbar to indicate they are clickable to switch tabs
![windows-image-blogpost](https://cloud.githubusercontent.com/assets/1184574/8293740/676

[2015-06-22 22:00] iBelieve opened #119 "Session doesn't detect HiDPI screen"
The session doesn't detect the correct DPI, but applications launched from the shell work just fine.

[2015-06-22 22:01] iBelieve opened #120 "Cursor speed is way to fast when running as a full session [$20 awarded]"
Might be related to running on a HiDPI screen.
##

<bountysource-plugin>
---
The **[$20 bounty](https://www.bountysource.com/issues/22774447-cursor-speed-is-way-to-fast-when-running-as-a-full-session?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** on this issue has been claimed at [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=

[2015-06-22 22:51] iBelieve commented on #119
Fixed by https://github.com/papyros/qml-material/commit/0d445f303bf917b6b34f7cb48f82aaeaa89a9fdb.

[2015-06-22 22:51] #119 closed, assigned to nobody

[2015-06-22 22:56] iBelieve opened #121 "Icon theme not set correctly in the session [$20 awarded]"
##

<bountysource-plugin>
---
The **[$20 bounty](https://www.bountysource.com/issues/22778231-icon-theme-not-set-correctly-in-the-session?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** on this issue has been claimed at [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github).
</boun

[2015-06-22 22:58] iBelieve opened #122 "Double key events in session [$20 awarded]"
Not sure if this is an issue in the session/shell, greenisland, or qtwayland/eglfs.
##

<bountysource-plugin>
---
The **[$20 bounty](https://www.bountysource.com/issues/22778392-double-key-events-in-session?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** on this issue has been claimed at [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_c

[2015-06-22 23:13] iBelieve commented on #120
Reported upstream as https://bugreports.qt.io/browse/QTBUG-46808.

[2015-06-22 23:16] iBelieve opened #123 "Properly handle idle status"
Set this up in the session and shell, and pass it to logind as necessary.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/22779560-properly-handle-idle-status?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plu

[2015-06-22 23:16] iBelieve opened #124 "Display a list of inhibitors before powering off or logging out"
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/22779590-display-a-list-of-inhibitors-before-powering-off-or-logging-out?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_

[2015-06-22 23:18] iBelieve opened #125 "Listen to unlock and lock signals from logind"
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/22779681-listen-to-unlock-and-lock-signals-from-logind?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm

[2015-06-22 23:18] iBelieve opened #126 "Manage running processes in the session"
Also close running apps when logging out.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/22779717-manage-running-processes-in-the-session?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tra

[2015-06-22 23:21] #79 closed, assigned to iBelieve

[2015-06-22 23:22] iBelieve commented on #68
Fixed by 2575c9a0ba54d06f5a37558a5b4238b0ae934342.

[2015-06-22 23:22] #68 closed, assigned to iBelieve

[2015-06-22 23:23] iBelieve commented on #114
Fixed by 2575c9a0ba54d06f5a37558a5b4238b0ae934342.

[2015-06-22 23:23] #114 closed, assigned to nobody

[2015-06-22 23:38] IdrissDimson commented on #120
so is this a qt bug or a problem with the code

[2015-06-22 23:43] iBelieve commented on #120
@VirusKA It doesn't work out-of-the-box for a sample Qt project, so it would seem to be an upstream Qt bug. However, it might not be a Qt bug, and could either be a libinput bug or just simply a misconfigured input device.

[2015-06-23 01:06] iBelieve opened #127 "Gtk apps crash on keyboard input"
Upstream discussion in Green Island: https://github.com/greenisland/greenisland/issues/79

Patch for Qt: https://codereview.qt-project.org/#/c/112141/

[2015-06-23 21:46] iBelieve commented on #120
Upstream acknowledged this as a valid bug and suggested we try using libinput instead. That's definitely what we want, and I actually thought we were, but it turns out it wasn't being compiled in Qt. So now I'm working on getting the Qt libinput plugin enabled and compiled.

[2015-06-23 21:50] IdrissDimson commented on #120
oh nice

[2015-06-23 23:27] iBelieve commented on #120
Yep, using the libinput plugin fixed it. Cursor works great now!

[2015-06-23 23:27] #120 closed, assigned to nobody

[2015-06-23 23:28] iBelieve commented on #122
Fixed by using the libinput plugin.

[2015-06-23 23:28] #122 closed, assigned to nobody

[2015-06-24 01:06] #127 closed, assigned to nobody

[2015-06-24 01:06] iBelieve commented on #127
Should be fixed once the new package builds.

[2015-06-25 01:50] iBelieve opened #128 "Evaluate and identify issues with multi-screen setups"
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/22977862-evaluate-and-identify-issues-with-multi-screen-setups?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=is

[2015-06-25 02:19] iBelieve commented on #76
This will have to wait for v0.2 to be fully implemented - not high enough priority to delay our targeted release date for v0.1.

[2015-06-25 02:23] iBelieve commented on #104
So, I did a little digging into the logs and also reproducing the issue locally, and I think this is an issue separate from the upstream bug I linked. That's definitely still an issue, but I think this is something else. This line seems to be the key:

Not sure where this is coming from, but almost certainly an upstream Green Island or Gtk on Wayland bug. I'll investigate it more, and send a repor

[2015-06-25 17:49] VirusKA commented on #104
yeah i can't wait

[2015-06-26 22:20] IdrissDimson commented on #93
any updates?

[2015-06-26 22:26] iBelieve commented on #93
@VirusKA Not yet - this is a visual enhancement only, so functionality takes a higher priority. Current work is in https://github.com/papyros/papyros-shell/tree/feature/93_window_decorations.

[2015-06-26 22:58] iBelieve opened #129 "Support disabling functionality via KConfig"
- [ ] Lock the pinned apps
- [ ] Hide the app drawer, limiting the available apps to the pinned apps on the shelf
- [ ] Disable some or all of the indicators
- [ ] Disable workspaces
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23142062-support-disabling-functionality-via-kconfig?utm_campaign=plugin&utm_content=tracker%2F86589

[2015-06-26 23:00] iBelieve commented on #8
Closing as this will need to be implemented in the Material framework if this is something we still want.

[2015-06-26 23:00] #8 closed

[2015-06-26 23:02] iBelieve commented on #5
Closing as we don't have a top bar right now. We'll re-evaluate this once we start on the modern desktop layout again.

[2015-06-26 23:02] #5 closed

[2015-06-26 23:03] iBelieve opened #130 "Improve the design of the hot corners"
These don't look very Material right now and don't work very well either.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23142186-improve-the-design-of-the-hot-corners?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_c

[2015-06-27 00:27] sergioad opened #131 "[IDEA] Implement KDE connect (or a fork) as a core feature of Papyrus shell"
Hello @iBeliever why do you not implement KDE connect or a fork of it as a core and default feature on your Papyros shell for getting notiffications from Android devices and all the things what does KDE connect? Also i think this is a really smart move and a a powerfull addition for the Papyros' battery indicator, with KDE connect you could have a real time battery monitor wich mantains you inform

[2015-06-27 06:54] Florin-kobe opened #132 "Shell does not start in Arch linux"
Instaled papyros-shell from the official repository but never could start it.
I just get a black screen that freezes. This is what happens in the terminal:

[code]

[2015-06-27 14:55] iBelieve opened #133 "Set the cursor theme for the shell"
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23182629-set-the-cursor-theme-for-the-shell?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=git

[2015-06-27 22:12] ricardomv commented on #132
Hi. Are you using Nvidia proprietary driver? You need to use the nouveau driver to get the extension  EGL_WL_bind_wayland_display.

[2015-06-28 06:21] Florin-kobe commented on #132
I am using Nvidia drivers. I don't plan on using nouveau any tine soon. Is there a way to use Papyros shell with nvidia?

[2015-06-28 10:58] saq1610 commented on #104
This seems to only affect greenisland. because when loading Papyros shell from a Display Manager (i used gdm) everything works flawlessly. Though some apps force close when recieving text input

[2015-06-28 13:49] iBelieve commented on #98
This turned out to be easier than server-side decorations, so we'll implement this in v0.1

[2015-06-28 13:50] iBelieve commented on #93
We'll implement client-side decorations in this version.

[2015-06-28 14:18] iBelieve opened #134 "Listen to keyboard events for sound"
Volume up, down, and mute.

[2015-06-28 14:18] iBelieve opened #135 "Display volume change notifications [$20 awarded]"
##

<bountysource-plugin>
---
The **[$20 bounty](https://www.bountysource.com/issues/23241330-display-volume-change-notifications?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** on this issue has been claimed at [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github).
</bountysource

[2015-06-28 14:19] iBelieve opened #136 "Window switcher doesn't display the actual icons"
It just displays the auto-generated backup.

[2015-06-29 02:22] iBelieve commented on #98
Almost done, code is in https://github.com/papyros/papyros-shell/tree/feature/98_csd_decorations and https://github.com/papyros/qml-material/tree/feature/csd_decorations.

Upstream bug we need to be fixed to implement a work-around for window shadows: greenisland/greenisland#97

[2015-06-29 05:30] ghost commented on #132
Hi,
it you are planning to do it with xorg, good luck. you may disable your nvidia or use the nouveau drivers instead. I don't know all of the code, but it really sounds like a very strict dependency. I think you cannot do papyros without binding a Wayland display....
/close

[2015-06-29 06:00] ghost commented on #134
[seems to be the best way](https://wiki.archlinux.org/index.php/Acpid)

[2015-06-29 21:21] IdrissDimson commented on #98
cool

[2015-06-30 22:41] VirusKA commented on #134
^this

[2015-07-01 05:04] ghost commented on #134
Yes, acpid events are good, but what is about the mentioned _SLPB_ _SBTN_? Does it also concern the volumeup, volumedown,.... buttons? if so, should we ask in the installer if they press the key, listen to that and push it into the config?

[2015-07-01 15:41] IdrissDimson commented on #108
@juston-li i agree

[2015-07-01 20:30] ghost commented on #126
I would say:
kill all pids dispayed at
ps -o pid --ppid _pid of running session_
first with -SIGTERM wait some seconds, then -SIGKILL and after again some seconds -SIGHUP to really shut them down.... the ps gets all pids which run as a child of the _pid_ I think that's the right way..... obviously you have to do this every time before the kill.....
I'm new to that, so please correct me if I am com

[2015-07-01 20:38] ghost commented on #124
Again, ps -o name? -ppid _pid of session_. and filter all of the system processes....

[2015-07-01 20:49] ghost commented on #130
maybe choose a random color similar (but not ident) to the color surrounding the corner. if the corner would be split, then also split the hot corner, but possibly of some matching colors

[2015-07-01 21:13] iBelieve commented on #124
@Schwertspize No, the list of inhibitors comes from logind, but we'll also add our own inhibitors for non-power related locks (similar to what GNOME does).

[2015-07-01 23:35] iBelieve opened #137 "Gtk apps aren't scaled properly on a HiDPI screen"
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23491319-gtk-apps-aren-t-scaled-properly-on-a-hidpi-screen?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&

[2015-07-05 15:26] progwolff opened #138 "linker error on opensuse"
Trying to compile on opensuse 13.2 with Qt5.5 I get the following linker errors:

[code]

not sure if this has to to with papyros or libqtxdg...

edit: setting QTXDG_LIBRARIES to a fixed location solves this issue, but this can't be the real solution...

[2015-07-05 19:28] ricardomv opened #139 "Session: Recover from crash"
If greenisland crashes, the session should try to restart it or close the current session (back to login screen)

[2015-07-05 20:22] ghost commented on #102
maybe get the current color of the app (the background color of the window bar) add transparency (eg 50% or 75%) and overlap the space the window will fill with that. that would be more material, not that much like Windows and definitely something new

[2015-07-07 12:57] cptn-cosmo commented on #134
Imho it should also include screen brightness (or does wayland handle this? then papyros shell should still display an indicator, like os x does https://www.dropbox.com/s/kzejnc3o9qgxbcj/Screenshot%202015-07-07%2014.56.00.png?dl=0

(design should obviously be different, close to the volume indicator)

It would be nice if the same would be possible for keyboard backlight brightness...

I am also no

[2015-07-08 22:14] fedya opened #140 "Session/Processlauncher must specify at least one argument for '...' parameter"
Trying to build papyros-shell from developmet branch

[ 22%] Building CXX object session/CMakeFiles/papyros-session.dir/processlauncher.cpp.o
/home/omv/papyros-shell/BUILD/papyros-shell-0.0.5-20150709/session/processlauncher.cpp:90:21: error: must specify at least one argument for '...' parameter of variadic macro [-Werror,-Wgnu-zero-variadic-macro-arguments]
    qCDebug(LAUNCHER) << "Registered"

[2015-07-16 03:39] luxrck commented on #108
is this ok ? https://github.com/luxrck/papyros-shell/commit/430bba74ef0387e8d60d3e73cbc4dcfef4dd2a19

[2015-07-18 08:53] taaem opened #143 "Remove Qt-git dependency on Arch"
Qt 5.5 is now in the stable repo so no need anymore to depend for the upstream version.
This would make it much more easier to install and test the shell especially, when you're coming from KDE or another Qt-based DE.

[2015-07-18 12:13] ajcutshall opened #144 "Can't scroll using mouse in launcher"
The launcher seems to be designed specifically for touch-based input. While this is nice to have, it would be beneficial to be able to scroll through the menu to find apps without clicking and dragging on it, possibly launching an unwanted app.

[2015-07-19 00:16] IdrissDimson commented on #104
Is this fixed? been almost a month now

[2015-07-20 23:22] VirusKA commented on #134
We should merge that commit^

[2015-07-24 06:54] changsijay opened #145 "[Question] how to run on wayland?"
Hi, I am using archlinux and finished install papyros-shell.
How to run it from text mode console?

I only installed wayland and weston. no X server.
and I can run weston normally from tty1.
Thanks a lot,

[2015-07-24 13:50] kingwill101 opened #146 "Cant run latest pull"
Just built the shell from the sources but i keep getting these errors and i cant seem to find a reference to the Desktop plugin on github

![screenshot from 2015-07-24 08-47-47](https://cloud.githubusercontent.com/assets/1114368/8875741/dc3727da-31e0-11e5-9fbe-8391e1cf8b18.png)

[2015-07-24 13:53] kingwill101 commented on #145
To run the shell from a virtual terminal as a full Wayland compositor:

`greenisland --platform eglfs --shell io.papyros.shell`

please note the shell isnt yet in a usable state

[2015-07-24 14:31] ricardomv commented on #146
You need to provide more information. Looks like you are using fedora the install instructions in the readme should work. Can you provide the folders where you installed the required dependencies and papyros-shell itself ?

[2015-07-24 14:35] ricardomv commented on #143
We still need to rebuild qt5 to enable support for opengles2 that we need to run a wayland compositor. But we are working to build on top of a stable release instead of the git repository

[2015-07-24 14:38] ricardomv commented on #143
This is not a shell issue so i am closing this. ~~You can see the pull request that fixes this in https://github.com/papyros/repository/pull/3~~ This has been fixed in https://github.com/papyros/repository branch testing

[2015-07-24 14:38] #143 closed, assigned to nobody

[2015-07-24 14:42] ricardomv commented on #140
Can you provide more details?  What distro do you use what commands did you run to build?

[2015-07-24 14:52] ricardomv commented on #132
Sorry, only Nvidia can fix this by adding support for wayland.

[2015-07-24 14:53] #132 closed, assigned to nobody

[2015-07-24 17:02] kingwill101 commented on #146
Material components

`/usr/lib64/qt5/qml/Material`

greenisland
`
`/usr/bin/greenisland
/usr/bin/greenisland-launcher
/usr/bin/greenisland-screencaster
/usr/lib64/libGreenIsland.so.0
/usr/lib64/libGreenIsland.so.0.5.95
/usr/lib64/qt5/plugins/greenisland/plasma.so
/usr/lib64/qt5/qml/GreenIsland
/usr/lib64/qt5/qml/GreenIsland/ContrastEffect.qml
/usr/lib64/qt5/qml/GreenIsland/SurfaceRenderer.qml
/usr

[2015-07-24 17:05] kingwill101 commented on #146
all the packages were installed from fedoras rawhide repository. If i knew what were the dependencies for the Desktop plugin i could fix the issue
@ricardomv

[2015-07-24 17:55] ricardomv commented on #146
Modules should be installed with papyros-shell, did you run make install? What command do you use to start the shell?

[2015-07-24 18:22] kingwill101 commented on #146
`[kingwill101@kingwill101-desktop build]$ cmake .. -DCMAKE_INSTALL_PREFIX=/usr -DQML_INSTALL_DIR=lib64/qt5/qml
-- checking for one of the modules 'mobile-broadband-provider-info'

## -- Disabling ModemManager support

-- The following OPTIONAL packages have been found:
- ALSA
- KF5ModemManagerQt (required version >= 5.9.0)
- ModemManager (required version >= 1.0.0)
- PkgConfig

-- The following RE

[2015-07-24 18:30] kingwill101 commented on #146
@ricardomv  copying /usr/lib/qt/qml/Papyros to /usr/lib64/qml fixes the issue but goes on to give

file:///usr/share/greenisland/shells/io.papyros.shell/Shell.qml:118:5: Type Desktop unavailable
file:///usr/share/greenisland/shells/io.papyros.shell/desktop/Desktop.qml:23:1: module "GreenIsland.Desktop" is not installed

[2015-07-24 22:49] ricardomv commented on #146
QML_INSTALL_DIR=lib64/qt5/qml should not work here you need to provide the full path /usr/lib64/qt5/qml

[2015-07-24 23:00] kingwill101 commented on #146
cmake .. -DCMAKE_INSTALL_PREFIX=/usr -DQML_INSTALL_DIR=/usr/lib64/qt5/qml

produces the same error

[2015-07-24 23:23] iBelieve commented on #146
@glenfordwilliams Try erasing your build folder. CMake might cache variables.

[2015-07-25 03:57] kingwill101 commented on #146
@iBeliever  thanks that worked...

[2015-07-25 03:57] #146 closed, assigned to nobody

[2015-07-25 05:04] kingwill101 commented on #28
@panospolychronis
using fedora 22 i was able to setup all the necessary dependencies. Instructions below

#install rawhide repo

`sudo dnf install fedora-repos-rawhide`

#rawhide packages sudo yum install --enablerepo rawhide _package name_

#install papyros dependencies
`sudo yum install --enablerepo rawhide qt5-*
sudo yum install --enablerepo rawhide libqtxdg-devel*
sudo yum install --enablerepo

[2015-07-27 06:28] changsijay commented on #145
I can run it by above command now, looks pretty nice,
although it hung right after the desktop show up.

[2015-07-27 06:28] #145 closed, assigned to nobody

[2015-07-28 23:40] #144 closed, assigned to nobody

[2015-08-01 16:03] VirusKA commented on #134
^anyone review this yet?

[2015-08-06 13:06] despairblue opened #148 "repo is incompatible with systems that have qtchooser installed"
[code]

[2015-08-18 15:18] 29jm commented on #138
Could you try to to apply the commits from PR #109 to your local repo, see if it works? It seems related.

[2015-08-19 03:21] kiloreux commented on #104
I can see this is still open, if it's fixed then please close it if not than i would like to start working on it .

[2015-08-19 16:09] IdrissDimson commented on #104
@Kiloreux you can go ahead. no progress has been on this issue for two months

[2015-08-19 16:11] iBelieve commented on #104
@Kiloreux Go ahead and work on this. Hard to tell if this is a green island bug or Gtk bug. Regardless, you'll probably have to submit a fix and get it approved by an upstream project other than Papyros, whether it is Gtk, QtWayland, or Green Island.

Thanks for your interest in working on this!

[2015-08-19 16:13] IdrissDimson commented on #104
@iBeliever you check out those pull request on the other respositories yet?

[2015-08-19 16:14] iBelieve commented on #104
@VirusKA Yep, I'm back from vacation, and will be beginning to pick up development again and will review all the open pull requests.

[2015-08-20 16:01] IdrissDimson commented on #138
agreed

[2015-08-22 09:41] progwolff commented on #138
You are right, this solves the issue.

[2015-08-22 09:42] #138 closed, assigned to nobody

[2015-08-22 10:50] ricardomv commented on #138
I merged the pull request should be fixed in develop too.

[2015-08-22 14:01] IdrissDimson commented on #134
^anyone review this yet?

[2015-08-22 14:48] 29jm commented on #134
I tested it and it works, but there are some issues: pressing VolumeUp increases the volume by 6 and VolumeDown decreases it by 4 (a rounding issue maybe?), perhaps VolumeMute could be a toggle like in Gnome 3 (feedback needed), and also, this commit has whitespace issues (spaces on empty lines 35 and 51).

[2015-08-22 14:50] IdrissDimson commented on #134
huh according to the code, luxrck meant the volume to go up and down by 5. the whitespacing is easy to fix.

[2015-08-22 15:01] 29jm commented on #134
@VirusKA Yeah I've seen that, but the code itself is weird, I think it could be improved: when the slider is moved, it changes the master value, and the slider is changed to the master value (yes, it's set twice per move, the second time the binding is restored). So it could be a bug in the Sound class (C++).
Also, the `sound` object has a `muted` property that could just be toggled when VolumeMut

[2015-08-22 15:46] 29jm commented on #134
@VirusKA I've made a fix, it was a rounding error in [sound.cpp](https://github.com/papyros/papyros-shell/blob/develop/modules/Papyros/Desktop/mixer/sound.cpp). I'll make pull request later.

[2015-08-23 20:24] trusktr opened #151 "Does it work on Nvidia Macbook Pro (11,5)?"
I'm curious if you might know if the UI works on Macbook Pro 11,x with Nvidia. I'm not having luck with Gnome desktop. It has the "Oh no, something went wrong" message, although it works (slowly) with the nouveau driver. Cinnamon on the other hand is buttery with the nvidia driver.

I ended up here at papyros because I've been looking around to see if there's any good desktop that works nicely wit

[2015-08-23 20:43] trusktr opened #152 "Use non-git libs."
If you could publish papyros in your pacman repo without using the git versions of all the libs, that'd be great, so it doesn't interfere with existing stable programs. Would that be possible, or does papyros depend on some functionality that isn't released in the stable libs?

[2015-08-23 20:45] trusktr commented on #152
I'm getting

[code]

[2015-08-23 20:46] trusktr commented on #152
Those files are owned by `qtchooser` from Arch's extra repo.

EDIT: Ah, and qtchooser is required by qt5-base. Maybe you can update your repo to conflict with qtchooser, or say your packages provide qtchooser, or something?

[2015-08-23 20:55] trusktr commented on #152
The workaround was to remove `qtcreator`, then `pacman -Rcsun qtchooser` to remove all things depending on qt5, then `pacman -S papyros-shell`, `pacman -S qtcreator`.

I believe your packages just need some meta info (provides, conflicts, etc).

[2015-08-23 20:59] trusktr opened #153 "Black screen."
I'm tried running it with the greenisland command, but the contents of the window is just black.

[2015-08-23 21:04] kingwill101 commented on #153
Could you please post a bit more details.
On Aug 23, 2015 3:59 PM, "Joseph Orbegoso Pea" notifications@github.com
wrote:

[2015-08-23 21:50] trusktr commented on #153
What details would you like? I tried the exact instructions here: http://papyros.io/download/index.html

[2015-08-23 21:58] 29jm commented on #151
Until the proprietary Nvidia driver supports Wayland, you'll need nouveau. Perhaps there's a wiki page for your MacBook on the Arch wiki that could help you though.

[2015-08-23 22:09] Kezii commented on #153
I'm having the same problem, here's the log:

[code]

It's black either from the fake screen and when booting from the gdm login screen

[2015-08-23 22:31] trusktr commented on #153
Oh yeah, sorry, I should've posted the output too. Also to note I'm using the `nvidia` driver.

[2015-08-23 22:33] trusktr commented on #151
Yeah, I've tried it all. Nouveau works, but is just so slow. ALso, Chromium keeps freezing nouveau, so I've settled with being limited to MATE or Cinnamon (no GNOME) in order for things not to crash.

[2015-08-23 22:38] Keziolio commented on #153
I'm on nvidia too, last drivers.

[2015-08-23 22:44] 29jm commented on #153
The output is normal (at least I get the same), but you shouldn't be getting a black screen when using the fake screen. It's normal when ran from gdm though, as you have the proprietary driver.

[2015-08-23 22:46] kingwill101 commented on #153
You need to use the nouveau driver as the nvidia proprietary driver is yet
to support Wayland properly
On Aug 23, 2015 5:44 PM, "Johan Manuel" notifications@github.com wrote:

[2015-08-23 23:05] trusktr commented on #153
I have nvidia, but I can run `weston` at the command line and that works fine. I can move windows around inside there.

[2015-08-24 01:32] huiyiqun commented on #152
Same problem.

It's great if papyros could switch to official `qt5` libs.

[2015-08-24 02:34] 29jm commented on #152
Well I personally use the non-git libs, except for qt5-wayland and greenisland related stuff. It doesn't seem to work as a wayland session but as a X11 client it works just fine (though I suspect some bugs I have are caused by this).

[2015-08-24 05:50] trusktr commented on #152
I love Qt and QML; I can't wait for the stable release of this.

[2015-08-24 08:18] trusktr commented on #153
I just tried Qt Creator, and it is also black. Perhaps something is up with the `*-git` libs? After uninstalling, removing the papyros repo from pacman.conf, then reinstalling Qt Creator, it works.

[2015-08-24 16:30] IdrissDimson commented on #134
noice

[2015-08-25 09:13] Kezii commented on #153
I can confirm everything trusktr said, weston and qtcreator problem.

[2015-08-26 21:32] VirusKA commented on #108
^anyone check that?

[2015-08-28 01:48] #134 closed, assigned to nobody

[2015-08-30 15:35] IdrissDimson commented on #98
@iBeliever what's the status on this? does the upstream bug still need to be implemented for this to work?

[2015-09-02 01:00] iBelieve commented on #98
@VirusKA I haven't looked into a workaround yet, so as of now, yes, we still need that bug to be fixed. Plus, we'll need to wait for v0.7.0 to be released, as I want to stick to stable releases now.

[2015-09-02 01:08] IdrissDimson commented on #98
ok. so we wait.

[2015-09-03 22:35] iBelieve opened #155 "Notification cards layout"
Material Design spec - http://www.google.com/design/spec/patterns/notifications.html
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26431367-notification-cards-layout?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_ca

[2015-09-07 16:12] dominicap commented on #155
I am not a developer, but I made a small mock up that is <b>not</b>  to spec a while ago..
Is this what it might look like?

![15 - 1](https://cloud.githubusercontent.com/assets/13564850/9720144/fd149e54-5550-11e5-93fd-a19796e7a67c.png)

![15 - 2](https://cloud.githubusercontent.com/assets/13564850/9720146/fedfceca-5550-11e5-8078-f63f2353dc47.png)

[2015-09-08 17:27] #112 closed, assigned to nobody

[2015-09-10 03:51] oneiricsky commented on #135
Any news on this one?

[2015-09-10 08:52] severen commented on #148
Are you sure? I have qtchooser installed and it installed perfectly fine.

[2015-09-10 12:12] iBelieve commented on #148
What architecture is your computer? 32 or 64 bit?

[2015-09-10 15:08] despairblue commented on #148
Me? 64bit

[2015-09-10 15:11] despairblue commented on #148
Ok, retried and it's fixed.

[2015-09-10 15:11] #148 closed, assigned to nobody

[2015-09-18 07:36] M4SSD35TRUCT10N commented on #98
@iBeliever I'm new here I know, but does it make sense to halt the reachment of the milestone by something you can't influence? I suggest to move it to version 0.2 only since it's an enhancement not a bug so far I could investigate. By the way excellent work!

[2015-09-18 19:12] VirusKA commented on #121
Any updates?

[2015-09-20 13:19] VirusKA commented on #135
yeah this is the one where i seen nor heard anything

[2015-09-21 12:52] tranduyhung opened #156 "Failed to run papyros-shell on Antergos"
I followed the instruction at http://papyros.io/download/ to download and install papyros-shell. However, I got a red screen when run it, please see the sreenshot.

![screenshot from 2015-09-21 19-42-33](https://cloud.githubusercontent.com/assets/503262/9992077/9424ccb2-6099-11e5-80eb-d23370802492.png)

After quitting greenisland, I couldn't open other applications of GNOME, like GNOME Control Cen

[2015-09-21 21:03] IdrissDimson commented on #98
@M4SSD35TRUCT10N it originally was, but michael changed it. It is an enhancement but it's such a big part of the OS that we kinda need it.

[2015-09-21 21:06] iBelieve commented on #98
@M4SSD35TRUCT10N The milestone isn't held up by this one issue. I just haven't had much time to work on the shell itself. What little time I do have for Papyros development has been going into packaging and work on our Material framework.

[2015-09-22 07:59] M4SSD35TRUCT10N commented on #98
@all No flame war intended. :v:

@VirusKA I do understand that it is an viral part of the distribution (a unique selling point somehow) but I think getting this done in Version 0.5.6 would also be great since beforehand the community would be able to iron out bugs in other areas. A version under 1.0.0 is always not suitable for production and not final in its features.

@iBeliever Oh, I know your

[2015-09-23 13:58] IdrissDimson commented on #104
@all according to the upstream, this is fixed. Anyone can confirm this?

[2015-09-24 08:16] crutchcorn commented on #133
What is this supposed to mean? If you mean that you are looking for a Material Design cursor theme - I can assist with that and am willing to work on it. If not, please specify what it is that you are looking for?

[2015-09-24 08:18] crutchcorn commented on #131
This should be delayed (if EVER it be supported) as the KDE Connect team wish to separate the front end to the back end. Also, this is unrelated to the shell - as that would be a separate application to the system than the desktop environment

[2015-09-24 08:20] crutchcorn commented on #89
Since when does Google Now have an API? Is there documentation for it? Also, I'd like to argue against mixing closed source with the open source in this case.

[2015-09-24 08:21] crutchcorn commented on #66
@iBeliever, I am willing to take a chance (though I may fail) at designing it. Would you kindly give an example of a persistent notification that I could use as an example?

[2015-09-24 08:23] crutchcorn commented on #128
If you need a tester @iBeliever, I'd be willing to assist when needed

[2015-09-25 14:44] ctnlaring commented on #128
@iBeliever I can also test on multiple displays. And on a 55 inch display

[2015-09-25 20:09] JWo1F commented on #156
the same here, archlinux

[2015-09-25 20:21] Mr1Penguin commented on #156
Got the same message about keybinding. Gentoo.

[2015-09-26 23:59] jalona opened #157 "Failed make"
How to solve a problem?

[code]

[code]

[2015-09-27 07:31] mzpsh commented on #156
me too, archlinux

[2015-09-27 10:50] jalona commented on #157
Empty in cmake:
QTXDG_LIBRARY_DIRS
QTXDG_INCLUDE_DIRS

[code]

[2015-09-27 13:26] ricardomv commented on #157
you need to install qt5xdg in /usr not /usr/local

[2015-09-27 13:41] jalona commented on #157
[code]

and

[code]

Empty in cmake:
QTXDG_LIBRARY_DIRS
QTXDG_INCLUDE_DIRS

[2015-09-27 18:55] #156 closed, assigned to nobody

[2015-09-28 08:24] jalona commented on #157
These are different packages.

[code]

It is necessary to fix the line:

[code]

on

[code]

[2015-09-28 11:09] ricardomv commented on #157
Can you test if this patch works for you? https://gist.github.com/ricardomv/ea04469a0d9c24f62163
With QT5XDG_LIBRARY_DIRS i get:

[code]

[2015-09-28 16:23] ricardomv commented on #157
Should be fixed in develop branch.

[2015-09-28 21:04] jalona commented on #157
Apply your patch.
In cmake all good.
Now error when make.

[code]

[2015-09-28 21:30] jalona commented on #157
Need fix other CMakeLists.txt

[code]

[2015-09-29 08:51] jalona opened #158 "Silence CMake warnings"
Need add in main CMakeLists.txt

[code]

[2015-09-29 12:36] iBelieve commented on #158
Can you explain why this is necessary or point to documentation for this? Not sure if this is the same thing, but I have C++ warnings enabled and treated as errors to keep our code as clean as possible.

[2015-09-29 12:51] #158 closed, assigned to nobody

[2015-09-29 16:06] #157 closed, assigned to nobody

[2015-09-29 16:07] ricardomv commented on #157
Should e fixed now thanks for your help :+1:

[2015-10-03 12:44] jalona opened #160 "[rpi2] failed start with eglfs"
How to solve a problem?

[code]

[2015-10-03 12:52] jalona commented on #160
[code]

[2015-10-03 12:57] jalona commented on #160
[code]

[2015-10-03 13:00] jalona commented on #160
[code]

[2015-10-03 13:04] jalona commented on #160
and use kernel

[code]

[2015-10-03 21:15] jalona commented on #160
[code]

[2015-10-04 22:43] alexkreidler opened #161 "Papyros-session not starting"
After I run papyros-session it just gets stuck there and never opens anything.
This is a 64-bit ArchLinux VirtualBox system running an xfce4 desktop.
This is my first time trying to start Papyros, so I might just be making a beginner's mistake.
When I run papyros-session, the terminal prints:

[code]

[2015-10-05 00:53] Tim15 commented on #136
Can you add details or a screenshot?

[2015-10-05 20:14] jalona commented on #160
This not found display-manager

[code]

[code]

[2015-10-07 13:14] tranduyhung commented on #104
I didn't see this problem by myself, but now the shell runs smoothly, apps are opened with no problems, so I guess it is fixed.

[2015-10-08 06:36] jalona commented on #160
- greenisland/greenisland/issues/125

[2015-10-08 06:36] #160 closed, assigned to nobody

[2015-10-08 17:41] ghost commented on #108
Any update?

[2015-10-10 00:39] alexkreidler commented on #121
@iBeliever Can you add more details?

[2015-10-10 00:43] IdrissDimson commented on #121
That would actually be nice. I'm not 100% sure what that means.

[2015-10-10 00:43] IdrissDimson commented on #104
Time to close?

[2015-10-10 00:47] #104 closed, assigned to nobody

[2015-10-10 01:22] alexkreidler opened #162 "Window Switcher freezes when you press tab."
![papyros_freezes](https://cloud.githubusercontent.com/assets/11166947/10408433/6b57943c-6ecb-11e5-9e81-dbc4c1369347.png)
The window switcher freezes on this screen when you press tab.
Logs:

[code]

[2015-10-10 14:13] alexkreidler opened #163 "Source directory does not contain CMakeLists.txt"
I installed papyros-shell via pacman.

[code]

I followed all the installation instructions in readme.md, but I can't get it to compile.

[2015-10-15 11:27] goodmind commented on #161
same for me too

[2015-10-19 21:57] alexkreidler opened #164 "Allow user-supplied arguments to greenisland"
It would be great if the user could pass arguments to papyros-shell which would then be applied to greenisland when it starts.This would be useful if you wanted to start greenisland in a fake screen.
The papyros-shell command is the only way to get the C++ functionality, so it would be great if you could modify the greenisland command from papyros-shell to fit your needs.
##

<bountysource-plugin>

[2015-10-21 20:38] ozwaldorf commented on #135
It shouldn't be a notification, but a toast instead. Having a notification for each change could get quite annoying.

[2015-10-29 19:07] zovt opened #165 "Shell seems to be running but nothing is displayed"
[code]

[2015-11-04 03:56] jzsb commented on #165
I have the same issue.

[2015-11-04 13:54] kingwill101 commented on #165
looks as though u have conflicting Qt versions on your system check where qt 5.1 is installed u might need to remove it

[2015-11-04 16:32] jzsb commented on #165
Will give it a try once I am home.

[2015-11-08 01:45] SolarAquarion opened #166 "build issue with greenisland git"
[ 18%] Building CXX object modules/Papyros/Desktop/CMakeFiles/papyrosdesktop.dir/notifications/notificationserver.cpp.o
[ 20%] Building CXX object modules/Papyros/Desktop/CMakeFiles/papyrosdesktop.dir/mpris/mprisconnection.cpp.o
[ 22%] Building CXX object modules/Papyros/Desktop/CMakeFiles/papyrosdesktop.dir/mpris/mpris2player.cpp.o
[ 24%] Building CXX object modules/Papyros/Desktop/CMakeFiles/pap

[2015-11-10 20:30] cptn-cosmo commented on #166
I have the same issue:

/tmp/yaourt-tmp-dawnson/aur-papyros-shell-git/src/papyros-shell-git/modules/Papyros/Desktop/launcher/launchermodel.cpp:34:42: fatal error: GreenIsland/ApplicationManager: No such file or directory
compilation terminated.
modules/Papyros/Desktop/CMakeFiles/papyrosdesktop.dir/build.make:278: recipe for target 'modules/Papyros/Desktop/CMakeFiles/papyrosdesktop.dir/launcher/lau

[2015-11-13 13:09] alexkreidler opened #167 "Installation script"
Someone should write a script to make it easier to install.

[2015-11-16 09:48] ghost opened #168 "Failed to create display (Connection refused)"
Running Arch Linux (x86_64 Linux 4.2.5-1-ARCH) with Gnome 3.18.2.
After executing papyros-session I get the following log:

[code]

I suspect the problem is the following:

[code]

[2015-11-18 11:18] alexkreidler commented on #168
I have the same issue:
`Cannot mix incompatible Qt library (version 0x50500) with this library (version 0x50501)`

[2015-11-18 14:18] ricardomv commented on #168
This is a problem in your qt installation did you install the packages from the papyros repo or from AUR.
Beacause the papyros repo is broken right now.

[2015-11-18 16:31] ghost commented on #168
Installed from aur. When I try to reinstall it gives me the following message at the end

[code]

[2015-11-19 13:11] XDjackieXD commented on #166
Same issue here (building papyros-shell-git from AUR).

[2015-11-19 23:32] #136 closed, assigned to nobody

[2015-11-19 23:38] iBelieve commented on #98
I'm going to move this to v0.2 as we're still waiting for upstream support in GreenIsland to figure out if a window needs server-side decorations.

[2015-11-19 23:39] IdrissDimson commented on #98
soo server-side decorations again?

[2015-11-19 23:42] iBelieve commented on #98
@VirusKA Nope. Only client side decorations will be supported in v0.1. This means the ugly Qt blue decorations and then Gtk's client-side header bars.

[2015-11-19 23:44] iBelieve commented on #108
Postponing to v0.2 as you can click on the tab bars to change tabs and the performance improvements can wait.

[2015-11-20 13:22] ricardomv commented on #167
Installation steps are listed in the Readme and dependecies are different for each distro so we can't provide a script that works on every single one. For arch you can use the [PKGBUILD](https://aur.archlinux.org/packages/papyros-shell-git/) in the AUR

[2015-11-20 13:22] #167 closed, assigned to nobody

[2015-11-20 14:36] iBelieve commented on #166
Papyros currently requires GreenIsland 0.6.

[2015-11-20 15:31] teaalltr commented on #166
Yep, it actually does work with 0.6.

[2015-11-20 15:32] iBelieve commented on #166
I want to ship each version of Papyros shell on the latest stable version of GreenIsland, which right now is 0.6. Once 0.7 is out, we'll switch to that for the next version of Papyros shell.

[2015-11-20 21:43] IdrissDimson commented on #166
^yeah.

[2015-11-22 19:58] alexkreidler commented on #135
Should this be a feature implemented on the OS layer or kind of like an event listener for changes on the sound driver layer?

[2015-11-25 02:41] ctnlaring opened #169 "Maximized windows aren't moving to (0,0)"
When I maximize a window It goes the correct size and the shelf goes solid but the window moves to aproximately (20,20) rather than (0,0).
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28589801-maximized-windows-aren-t-moving-to-0-0?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accep

[2015-11-25 02:43] ctnlaring opened #170 "Lots of empty blue icons in the drawer"
The first three pages of my drawer are full of blank blue icons without names.

[2015-11-25 02:46] ctnlaring opened #171 "Auto-hide the shelf"
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28589886-auto-hide-the-shelf?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github).
</bountysource

[2015-11-26 06:21] SuicSoft opened #172 "Create a Papyros Gitter (gitter.im) Chat Room"

[2015-11-26 16:25] alexkreidler commented on #172
There already is one at https://gitter.im/papyros/papyros. This is for the
Papyros shell, but if you are looking for the material design Gitter room,
you can find it at https://gitter.im/papyros/qml-material.

On Thu, Nov 26, 2015 at 1:21 AM Suici Doga notifications@github.com wrote:

[2015-11-27 19:03] ctnlaring opened #173 "A screensaver"
Probably just an xscreensaver (or similar) theme would work
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28662839-a-screensaver?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F86

[2015-11-27 19:04] iBelieve commented on #173
Not familiar with it, but xscreensaver sounds rather X11-specific. We'll need to look into what other Wayland desktops are doing for screensavers.

[2015-11-27 19:04] iBelieve commented on #173
This also might not be shell-specific, but for now this repo is an okay place to track this feature.

[2015-11-27 19:47] ctnlaring commented on #133
@iBeliever Please specify what this means exactly.

[2015-11-27 19:52] ctnlaring opened #174 "ecorations branch fails to compile on Antergos"
I had the develop branch working but then I decided to try and get the decorations working

[2015-11-27 19:53] ctnlaring opened #175 "CSD decorations branch fails to compile on Antergos [$10 awarded]"
I had the develop branch working but then I decided to try and get the decorations working.
Error: https://docs.google.com/document/d/1SJLQBU9ZAqkRS221lZHDF548zwptAVxSZ567apj9hYQ/edit?usp=sharing
##

<bountysource-plugin>
---
The **[$10 bounty](https://www.bountysource.com/issues/28663676-csd-decorations-branch-fails-to-compile-on-antergos?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medi

[2015-11-27 20:01] Collinthegeek commented on #175
It seems to be missing the file "/usr/lib/qt/plugins/wayland-decoration-client/libmaterial.so"

[2015-11-27 20:29] ctnlaring opened #176 "The launcher should get applications from ~/.local/share/applications [$10 awarded]"
##

<bountysource-plugin>
---
The **[$10 bounty](https://www.bountysource.com/issues/28664311-the-launcher-should-get-applications-from-local-share-applications?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** on this issue has been claimed at [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm

[2015-11-27 20:29] ctnlaring commented on #176
Chrome apps and other user specific applications go here

[2015-11-27 20:30] ctnlaring commented on #176
I assume it currently only gets them from /usr/share/applications right?

[2015-11-27 20:33] ctnlaring opened #177 "The launcher should open when the windows key is pressed. [$10 awarded]"
It looks like it's trying to but something's broken.

qml: Key pressed 16777250
file:///usr/share/greenisland/shells/io.papyros.shell/Shell.qml:193: ReferenceError: helpTimer is not defined
file:///usr/share/greenisland/shells/io.papyros.shell/launcher/AppDrawer.qml:280: ReferenceError: selected is not defined
##

<bountysource-plugin>
---
The **[$10 bounty](https://www.bountysource.com/issues/286

[2015-11-27 20:35] iBelieve commented on #175
I'm working on getting this merged into `develop` in both the shell and framework. That'll fix any bugs compiling.

[2015-11-27 20:36] iBelieve commented on #174
Looks like this is a duplicate of #175

[2015-11-27 20:36] #174 closed, assigned to nobody

[2015-11-27 21:19] ricardomv commented on #133
It's both we need a theme with the cursor images and we need an implementation in  greenisland to choose the theme that currently is hardcoded.

[2015-11-28 02:15] SuicSoft commented on #172
@Tim15  How about adding a readme badge?

[2015-11-28 21:35] alexkreidler opened #178 "The display is not scaled properly"
When I run `papyros-session`, the display is huge and I only see a small corner of it. Same thing with the sddm.

[2015-11-28 23:18] kingwill101 commented on #178
Did u set a fakescreen profile?
On Nov 28, 2015 4:35 PM, "Timothy Higinbottom" notifications@github.com
wrote:

[2015-11-28 23:26] ctnlaring commented on #178
Are you running within another desktop environment or by itself?

[2015-11-29 19:03] alexkreidler commented on #178
I did not use a fakescreen profile, and I am running it in KDE. Another note: When I use a different monitor it works perfectly. I think the issue was with how GreenIsland/Wayland (or something upstream) reacts to displays that say they have one resolution but actually have another. For example, anything on my screen (KDE, the plain old arch terminal, Windows) gets cut off, like the monitor is say

[2015-11-29 19:15] alexkreidler commented on #169
Can you print the logs?
It works fine on my system.

[2015-11-29 19:23] riesinger opened #179 "Can't start shell from VT or DM"
I've installed the shell via pacman and starting it from within another desktop environment (a terminal emulator) works quite well.
However, if I try to start it from LightDM, it won't do anything (the LightDM background will be shown indefinitely long) and if I try to start it from a TTY, my screen will turn black for a second and then I loose the  input signals to both of my monitors. It does no

[2015-11-29 20:09] ctnlaring commented on #169
[code]

[2015-11-29 21:59] ctnlaring commented on #128
@iBeliever I ran it on my two displays and it worked almost flawlessly. (!) I could drag windows across the displays properly and everything but the panel showed on both screens (separate instances of the panel not mirrored)

[2015-11-29 22:39] iBelieve opened #180 "Update code to use GreenIsland 0.7 once it comes out"
The shell doesn't compile with the latest code (see #166).
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28699008-update-code-to-use-greenisland-0-7-once-it-comes-out?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_ca

[2015-11-29 22:40] iBelieve commented on #166
I'm closing this in favor of #180 so we can properly update the code to support GreenIsland 0.7 once it comes out (hopefully in the Papyros shell 0.2 cycle).

[2015-11-29 22:40] #166 closed, assigned to nobody

[2015-11-29 22:41] iBelieve commented on #163
How are you running Cmake? Cmake shouldn't be necessary if you installed binary packages via pacman.

[2015-11-29 22:42] IdrissDimson commented on #172
This'll take a good 50 seconds. I'm timing

[2015-11-29 22:46] #172 closed, assigned to iBelieve

[2015-11-29 22:51] iBelieve commented on #172
@VirusKA :smile:

[2015-11-29 22:53] IdrissDimson commented on #172
shame on you. gotta do better than that.

[2015-11-29 22:55] IdrissDimson commented on #135
I agree with @The5heepDev. A toast would also be easier.

[2015-11-29 23:10] alexkreidler commented on #163
This was a mistake on my part for not installing the right way.

[2015-11-29 23:10] #163 closed, assigned to nobody

[2015-11-29 23:24] ctnlaring commented on #135
Maybe I'm missing something but this shouldn't be very hard to implement. The percentage changes in the controls pane so you should be able to just have the same thing that controls that control a notification right?

[2015-11-29 23:37] alexkreidler commented on #126
When you say

Do you mean implementing a task manager (like on windows)?

[2015-11-30 05:55] crutchcorn opened #181 "Black Screen With Cursor"
When I load Papyros from Lightdm, I only get a black screen, with a horizontal line (as if waiting for a command to be entered) and when I run the `papyros-session` command from XFCE I get this log:

[code]

The steps that I took to install was to run `yaourt papyros-shell-git` and install it that way (no errors occured AFAIK)
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty

[2015-11-30 12:01] alexkreidler commented on #181
Try adding this

[code]

To your `pacman.conf`

Then run

[code]

I'm not sure if the AUR has the right code/MKPKG, so it's better to just get the binaries from the Papyros server.

[2015-11-30 12:02] crutchcorn commented on #181
Even still, would be good to fix up the AUR, eh?

[2015-11-30 12:27] alexkreidler commented on #181
Yes, that's true

[2015-11-30 14:42] RyanSquared commented on #176
Another way to fix this - as I know some desktop environments do - is to make an environmental variable for the application path. Something like `APPPATH`?

[2015-11-30 18:21] ctnlaring opened #182 "Sddm theme doesn't scale properly"
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28722096-sddm-theme-doesn-t-scale-properly?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=gith

[2015-12-02 21:02] MarcinWieczorek commented on #161
Same. Manjaro x64, noveau drivers, using greenisland-git (hoped there would be fixes), same with greenisland pkg from AUR.

[code]

[2015-12-04 02:16] #177 closed, assigned to iBelieve

[2015-12-04 02:17] iBelieve commented on #177
Thanks for the bug report @Collinthegeek!

[2015-12-04 02:28] #176 closed, assigned to iBelieve

[2015-12-04 02:28] iBelieve commented on #176
Thanks for reporting the bug!

[2015-12-04 02:34] iBelieve opened #184 "Getting more done in GitHub with ZenHub"
Hola! @iBeliever has created a [ZenHub](http://www.zenhub.io) account for the **papyros** organization. ZenHub is the leading team collaboration and project management solution built for GitHub.

---
#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](http://www.zenhub.io)** and log in with your GitHub account. Once you do, you’ll get acce

[2015-12-04 19:28] mishushakov opened #185 "Cannot Launch the papyros-shell on Arch Linux"
Hello dear developers, you made good job, but its not working by me
Sorry for my bad english((
I think logs can help.

[code]

Thank you!

[2015-12-04 21:51] IdrissDimson commented on #135
awesome bounty's are back!

[2015-12-06 16:40] ricardomv commented on #185
Are you running the shell as root?
`error: XDG_RUNTIME_DIR not set in the environment`

[2015-12-06 17:16] marosoft commented on #121
Could you add more details? Is it about user preferences? I would suggest to add the steps to reproduce and a proper behaviour.

[2015-12-10 14:40] mishushakov commented on #185
Yes!

[2015-12-10 19:59] ricardomv commented on #185
please don't, use a regular user

[2015-12-10 19:59] #185 closed, assigned to nobody

[2015-12-10 23:36] iBelieve commented on #170
I've been experiencing this issue as well, and realized it's because we're setting the icon theme from our own settings file, with the default being Paper, so if you don't have Paper installed, it'll do odd things.

To change the icon theme, edit the `~/.config/papyros-shell` file like this:

[code]

That being said, if you change the icon theme in Papyros or install Paper, and still see some icon

[2015-12-10 23:36] #170 closed, assigned to nobody

[2015-12-10 23:38] iBelieve commented on #152
Papyros has been using the stable Qt version for quite some time now, with the exception of Qt Wayland, which is the stable version compiled with QtCompositor enabled.

[2015-12-10 23:38] #152 closed, assigned to nobody

[2015-12-11 03:23] iBelieve opened #186 "Maximized Gtk and Qt windows are offset"
Gtk window:

![screenshot from 2015-12-10 21-22-45](https://cloud.githubusercontent.com/assets/3230912/11735203/33a17b86-9f84-11e5-9d45-d84e5a23e986.png)

Qt window:

![screenshot from 2015-12-10 21-24-57](https://cloud.githubusercontent.com/assets/3230912/11735224/8643673c-9f84-11e5-9486-44e267b0627a.png)
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www

[2015-12-11 03:29] iBelieve opened #187 "Window dimming doesn't go away after closing dialogs"
![screenshot from 2015-12-10 21-27-45](https://cloud.githubusercontent.com/assets/3230912/11735275/078f81f4-9f85-11e5-90fe-6bedf51fb8f3.png)

[2015-12-11 03:30] iBelieve opened #188 "Gtk tooltips sometimes get stuck and show in the top left corner of a window"
![screenshot from 2015-12-10 21-28-29](https://cloud.githubusercontent.com/assets/3230912/11735290/2b843596-9f85-11e5-992c-5a0cf8956670.png)

[2015-12-11 03:52] #187 closed, assigned to nobody

[2015-12-11 21:22] ricardomv commented on #186
I think this is an issue in greenisland because i see it in their default shell too

[2015-12-11 23:59] #178 closed, assigned to nobody

[2015-12-12 00:01] alexkreidler commented on #162
Just re-tested. It works now.

[2015-12-12 00:01] #162 closed, assigned to nobody

[2015-12-12 00:19] alexkreidler commented on #38
Do you still have the issue? Try reinstalling from the server binaries as [instructed here](http://papyros.io/download).

[2015-12-12 18:05] IdrissDimson commented on #188
Man i want to test this OS out so bad :P

[2015-12-12 20:15] ctnlaring commented on #188
http://papyros.io/download

[2015-12-12 20:22] c0d3st0rm commented on #161
Same here too.

[2015-12-12 21:34] c0d3st0rm opened #189 "Error building from repo source"
I've probably missed something obvious so I apologize in advance if I have. Built GreenIsland from source in Arch VM, now I'm trying to build the shell, but I get a (seemingly) GreenIsland-related error after running `make`:

[code]

Like I said, I've probably missed something, but I don't have a clue as to what.

[2015-12-12 23:06] ricardomv commented on #189
We currently only support greenisland v0.6 so you need to install that version.

[2015-12-13 17:39] IdrissDimson commented on #186
so upstream?

[2015-12-14 11:42] c0d3st0rm commented on #189
Note taken, but is that the cause of the error?

[2015-12-14 13:07] ricardomv commented on #189
I think so.

[2015-12-14 13:58] c0d3st0rm commented on #189
We'll see. So shall I try and build the 0.6 source and then install it like normal for a built package?

[2015-12-14 14:28] ricardomv commented on #189
you can use this PKGBUILD for arch https://github.com/papyros/repository/blob/testing/packages/greenisland/PKGBUILD
but keep in mind greenisland doesn't work on virtual box (i don't know if that's what you're using)
Have you tried installing using the instructions on the site http://papyros.io/download/index.html ?

[2015-12-14 19:46] c0d3st0rm commented on #189
I'm am using virtualbox I'm afraid, so there's an issue right there - why doesn't it work? As a note, I'm using KVM with it too. Tried installing that package, didn't work I believe, so I am trying using source builds instead.

[2015-12-14 20:05] ricardomv commented on #189
This is the related issue from upstream greenisland/greenisland/issues/136 i think there is nothing we can do this is an issue with virtual box.

[2015-12-14 20:10] ricardomv commented on #189
Here is the bug report in vbox https://www.virtualbox.org/ticket/13471

[2015-12-14 21:52] iBelieve commented on #186
Thanks for pointing that out @ricardomv. The problem, though, is that I'd like to stick with the latest stable version of Green Island and I'm almost certain any fix won't be back ported to that. I'll verify on my end the issue is in Green Island and then open an upstream issue. If it gets fixed soon, then cool, I can try to backport it and ship it as a patch; if not, then we'll have to fix it on

[2015-12-14 21:54] iBelieve commented on #188
I'm going to try to reproduce this upstream in the sample Green Island compositor. If I can, I'll file an upstream bug report in the hopes that it can be fixed there.

[2015-12-14 22:35] alexkreidler opened #190 "Shell crashes when opening and closing apps"
Looks like this is the issue:
`TypeError: Cannot read property 'type' of undefined`
Full logs (the top is cut off): http://pastebin.com/w1k0F0td

[2015-12-20 17:46] alexkreidler commented on #190
Just updated Papyros, it still crashes, but when closing apps.
Think this is the issue:
`file:///usr/lib/qt/qml/GreenIsland/Desktop/WindowManager.qml:96: Error: Cannot assign to non-existent property "transientChildren"`
I also noticed this error was apparent in the first issue.
Full logs (the top is cut off again)
http://pastebin.com/1eDA9rKv

[2015-12-24 03:13] iBelieve commented on #179
Thanks for the bug report! I've been looking into this bug, and have found the following things:
1. `papyros-session` works fine from inside GNOME (so not happening in all configurations).
2. `greenisland --platform eglfs --shell io.papyros.shell` works from inside GNOME (so not specific to eglfs).
3. `greenisland` works fine from a VT (so not a greenisland issue).
4. `papyros-session` does not wo

[2015-12-24 03:14] iBelieve commented on #181
@crutchcorn could you take a look at #179 and see if that is the issue you're seeing?

[2015-12-24 03:16] iBelieve commented on #169
@Collinthegeek is this the same thing as #186?

[2015-12-24 03:20] iBelieve commented on #168
The papyros repo is back up and working. I'm using the packages from it without any problems now.

[2015-12-24 03:20] #168 closed, assigned to nobody

[2015-12-24 03:21] iBelieve commented on #165
I'm assuming you're using the packages from our Arch repo. They were out of date for a while, but are back up and running again, so this should be fixed.

[2015-12-24 03:21] #165 closed, assigned to nobody

[2015-12-24 03:31] iBelieve commented on #189
I'm going to close this out, as we have another ticket for updating to GreenIsland 0.7. For reference on running in a VM, see https://github.com/papyros/papyros-shell/wiki/Running-in-a-Virtual-Machine.

[2015-12-24 03:31] #189 closed, assigned to nobody

[2015-12-24 03:33] iBelieve commented on #153
The repository is up-to-date and working now, so I'm going to close this issue.

[2015-12-24 03:33] #153 closed, assigned to nobody

[2015-12-24 03:34] iBelieve commented on #161
VirtualBox unfortunately does not support Wayland. Please see https://github.com/papyros/papyros-shell/wiki/Running-in-a-Virtual-Machine.

[2015-12-24 03:35] #161 closed, assigned to nobody

[2015-12-24 03:36] iBelieve commented on #140
Papyros shell correctly compiles with GreenIsland 0.6 (we're building nightly package sfor Arch). Because this is several months old, I'm going to close this ticket, but if you're still having issues, please feel free to reopen it again.

[2015-12-24 03:36] #140 closed, assigned to nobody

[2015-12-24 03:39] iBelieve commented on #110
I just checked and the panel properly goes dark when a window is maximized.

[2015-12-24 03:39] #110 closed, assigned to nobody

[2015-12-24 03:42] iBelieve commented on #28
I'm going to close this as it is several months old and the shell correctly builds on Arch. If anyone is still having issues on a particular platform, please ping me on [Gitter](https://gitter.im/papyros/papyros).

[2015-12-24 03:42] #28 closed

[2015-12-24 03:49] iBelieve commented on #98
Based on my conversation with @plfiorini in greenisland/greenisland#154, we'll be using server-side decorations for everything except Gtk windows, which means this ticket (and the work I spent on it) is no longer necessary.

[2015-12-24 03:49] #98 closed, assigned to iBelieve

[2015-12-24 05:15] trusktr commented on #153
Hello @iBeliever, I just gave it another try, and instead of a blank screen, now no window even appears, and the output looks like this: http://trusktr.io:7777/uwajiyanej

[2015-12-24 08:48] crutchcorn commented on #181
@iBeliever I seem to think that it is. Here are some of those commands and their outputs. (I have no idea what you mean by running from GNOME, so please keep in mind that the following commands are run from a VT in XFCE)
`papyros-session` is the same output as above.

[code]

Result: Nothing appears on screen and jumps back to shell

[code]

Result: Blank gray screen appears on screen.

However, i

[2015-12-24 09:00] riesinger commented on #179
This exactly represents my findings (though I first tried it in i3). The problem with this was that I could not run apps in papyros-session, they always opened in i3. I will try this later in GNOME.

[2015-12-24 09:49] MarcinWieczorek commented on #161
I was not running it on VB...

[2015-12-24 16:05] iBelieve commented on #179
My guess at the problem seems to be correct. I ripped out everything from the shell and added a single button to kill the session, and that worked fine from both a VT and GDM. Now I'll start adding in features one at a time until I hit the bug again.

[2015-12-24 16:33] riesinger commented on #179
Great!

[2015-12-24 17:08] iBelieve commented on #181
@crutchcorn Part of your problem is separate from the issue I linked to. You don't have permission to access the necessary device files (`/dev/fb0` and `/dev/input/event*`), so make sure you're a member of the `video` and `input` groups. See the "Troubleshooting guide" section of http://blog.qt.io/blog/2015/01/20/qt-weekly-23-qt-5-5-enhancements-for-linux-graphics-and-input-stacks/ for more detail

[2015-12-24 17:11] iBelieve opened #191 "Fix the sound code"
For some reason, the sound code freezes the shell when it is started from a virtual terminal or display manager. See #179 for details about the issue this was causing.

[2015-12-24 17:12] #179 closed, assigned to iBelieve

[2015-12-24 17:13] iBelieve commented on #191
Commit https://github.com/papyros/papyros-shell/commit/94bc54c4929dc65e63cac19b3bb0081d9dac5abe disables the sound code until we can figure out what the issue is.

[2015-12-24 17:14] iBelieve commented on #179
This should be fixed now! Suprisingly, the backend for the sound indicator was causing the freezing, so I disabled it for now. I know it used to work, so I'm not sure what went wrong.

[2015-12-24 18:05] iBelieve commented on #175
This is no longer relevent as we won't be using CSDs in Qt (see #98).

[2015-12-24 18:05] #175 closed, assigned to iBelieve

[2015-12-24 18:05] iBelieve commented on #135
This depends on fixing #191 first.

[2015-12-24 18:09] iBelieve commented on #121
Sorry guys, I forgot to add more details when I created the issue. Basically

**What happens**
1. Launch the shell from an existing session (GNOME, whatever)
2. Notice how all or most the apps in the panel and launcher have the correct icons
3. Now launch the shell from a login manager (GDM, SDDM, whatever)
4. Now all the apps use the default colored circle with the first letter as a placeholder b

[2015-12-24 18:48] #121 closed, assigned to iBelieve

[2015-12-24 18:52] iBelieve commented on #191
Oddly enough the sound code works fine in the SDDM theme.

[2015-12-24 20:02] #191 closed, assigned to iBelieve

[2015-12-24 20:03] iBelieve commented on #191
Not sure if something in our code changed or if get/setenv changed, but now getenv returns nullptr if a env variable does not exist, and setenv freezes if nullptr is passed to it. A one line changed fixed this! :)

[2015-12-24 20:10] iBelieve opened #192 "Modifier keys are not passed to applications"
For example, when I have Files open and I type `Ctrl+L`, I expect the path bar to show, but instead it opens the quick search with `L` entered in the text field.

[2015-12-24 20:12] iBelieve opened #193 "Clicking outside of a popup's parent window should close the popup"

[2015-12-24 20:19] riesinger commented on #179
Good job! Thank you :)

[2015-12-24 21:27] iBelieve commented on #186
Looks like this is still happening in the latest version of Green Island. I filed a bug report here: greenisland/greenisland#157. However, it does look like Qt windows work fine in the sample shell, so we'll see if updating to the latest version of GreenIsland will fix Papyros or if we have a separate issue.

[2015-12-24 21:43] iBelieve commented on #192
Reproduced and filed upstream as greenisland/greenisland#158.

[2015-12-24 21:58] iBelieve commented on #190
I was able to reproduce this while running in the debugger. Here's the backtrace:

[code]

And here's some relevent logs:

[code]

What I'm guessing is happening is that the window wrapper isn't getting deleted, so the ping/pong timer (used to see if a window is still responding) tries to ping the deleted window object, which then crashes the shell.

[2015-12-24 22:09] #190 closed, assigned to iBelieve

[2015-12-24 23:00] VirusKA commented on #135
now that #191's done, how do you wanna do this

[2015-12-24 23:39] iBelieve commented on #180
I started work on this to verify if some bugs were upstream issues. Code is in https://github.com/papyros/papyros-shell/tree/feature/latest_greenisland.

[2015-12-25 21:59] IdrissDimson commented on #188
so is it another upstream issue?

[2015-12-25 22:00] IdrissDimson commented on #135
now that #191's fixed, how do you wanna do the notifications?

[2015-12-26 02:06] iBelieve commented on #20
The shell has been working fine with the main Qt version in Arch for some time. Windows open, the shell seems to work fine, etc. However, I've noticed that the keyboard isn't working quite right (see #192). After looking into this futher, I noticed that the same log message is still showing:

[code]

This might be the cause of the keyboard problems. I'm compiling qt5-base-git to test.

[2015-12-26 16:49] iBelieve opened #194 "UI temporarily freezes when the session starts"
This ruins the nice affect of the login animation.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29409171-ui-temporarily-freezes-when-the-session-starts?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin

[2015-12-26 17:09] #193 closed, assigned to iBelieve

[2015-12-26 18:42] iBelieve commented on #180
The code has been updated to compile with the latest Green Island code, but I'll leave this open until v0.7 officially comes out so we can update the code as necessary.

[2015-12-26 18:42] iBelieve commented on #188
Yes, this was an upstream issue and is fixed by updating to the latest GreenIsland code.

[2015-12-26 18:42] #188 closed, assigned to nobody

[2015-12-26 18:44] iBelieve commented on #135
I'm going to implement this by displaying volume change notifications as a normal notification popup in the button right corner, plus a progress bar.

[2015-12-26 19:22] iBelieve opened #195 "Display an error message when applications crash or fail to start"
We should be able to check the return status from applications, and display a message if it is not 0 (success). We could also use a timer and if the app crashes within a second or so, tailor the message to state the the application failed to start.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29410752-display-an-error-message-w

[2015-12-26 19:23] iBelieve opened #196 "Switch to using greenisland-launcher instead of papyros-session"
Take a look at the Hawaii code to see how to make the transition.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29410768-switch-to-using-greenisland-launcher-instead-of-papyros-session?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bounty

[2015-12-26 19:35] IdrissDimson commented on #135
that's nice

[2015-12-26 21:50] #135 closed, assigned to iBelieve

[2015-12-26 23:00] iBelieve opened #197 "App drawer should reset search field and selected tab when reopened"
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29412785-app-drawer-should-reset-search-field-and-selected-tab-when-reopened?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F8658931&

[2015-12-26 23:01] iBelieve opened #198 "Sound keys don't work"
For some reason, they're being passed as `0`. It's possible we need to set a keyboard layout or something.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29412802-sound-keys-don-t-work?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bounty

[2015-12-26 23:02] iBelieve opened #199 "Notifications should be hidden when an indicator is open"
Right now, the notifications show up above the indicator, which is annoying, especially for the sound indicator.

[2015-12-26 23:03] iBelieve opened #200 "Some GNOME apps aren't recognized correctly when running"
This results in the app name and icon being missing from running GNOME apps. I think the app isn't passing the right desktop identifier to Green Island.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29412825-some-gnome-apps-aren-t-recognized-correctly-when-running?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=iss

[2015-12-26 23:04] iBelieve opened #201 "Panel items are too wide"
They are displayed as square though they should be taller than they are wide.

[2015-12-26 23:14] #199 closed, assigned to nobody

[2015-12-26 23:19] iBelieve commented on #198
Actually, it's not just the volume keys, but my MacBook's entire set of function keys.

[2015-12-26 23:23] #201 closed, assigned to nobody

[2015-12-26 23:28] JosephMillsAtWork opened #202 "Question: Compiling on Debian"
## Summary

So I have compiled and got all the things that the README.md file says that I should get.

I am a little bit confused about Green Island I see that in the cmakelist.txt it is asking for something larger then
    0.5.94

But after building green island to (branch that is talked about in the README.md)
1. after looking at CmakeList.txt I noticed that the versions do not match

[code]

No

[2015-12-26 23:50] JosephMillsAtWork commented on #202
NVM

![pap](https://cloud.githubusercontent.com/assets/8931995/12008316/5e1d0fb8-abe8-11e5-8c70-895c26dfe782.png)

[2015-12-27 01:04] iBelieve commented on #202
Apologies, the README instructions regarding GreenIsland were outdated. Sorry if this caused any confusion! It looks like you got it working though - can this issue be closed?

[2015-12-27 17:18] JosephMillsAtWork commented on #202
Yes this can now be closed.  Thanks for your hard work.
If you like I could make a Wiki for installing to debian based systems.

Again thanks.

[2015-12-27 17:18] #202 closed, assigned to nobody

[2015-12-28 01:59] alexkreidler commented on #195
How about we use the built-in [QProcess error signal](http://doc.qt.io/qt-5/qprocess.html#error-1) and [ProcessError enum](http://doc.qt.io/qt-5/qprocess.html#ProcessError-enum) to  then check what type of error (crash, timeout, failed to start) and display it to the user.

[2015-12-28 17:56] iBelieve commented on #192
Just chatted with the Green Island developer in IRC. Here's the conversation we had:

Basically, we need Qt 5.6 to fix this bug, but Green Island doesn't fully work with Qt 5.6.

[2015-12-28 19:44] IdrissDimson commented on #192
so this means we can mark this as complete? :)

[2015-12-28 21:11] iBelieve commented on #192
Right. This is fixed by https://github.com/papyros/repository/commit/4e79489c147c3638e18b1ab8c9c4d0978ec0feb3. We ended up patching Qt 5.5 with the fix from Qt 5.6.

[2015-12-28 21:11] #192 closed, assigned to iBelieve

[2015-12-28 21:23] IdrissDimson commented on #155
@domi-a-philip should look something like that

[2015-12-29 10:57] rickpalmeira commented on #173
Apparently, weston already comes with screensaver support by default

[2015-12-29 11:34] fusion809 opened #203 "Decorations plugin. Parse error at "IID""
Hi,

I have attempted to build this program under Manjaro Linux via two methods:
- From the Arch User Repository using Yaourt
- Gitting the source code (running `git clone https://github.com/papyros/papyros-shell`) and manually compiling the source code following the instructions in the README.

Both methods have returned identical error messages at the `make` stage (including a few preceding line

[2015-12-29 22:04] IdrissDimson opened #204 "Set window decoration font to Roboto"

[2015-12-29 23:14] kingwill101 opened #205 "use material context menu"
text field in the drawer needs to use  material design for its context menu

![screenshot_20151229_131147](https://cloud.githubusercontent.com/assets/1114368/12043926/de18ef68-ae57-11e5-8665-a831cb5ac4b4.png)
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29471846-use-material-context-menu?utm_campaign=plugin&utm_content=tracker%

[2015-12-30 02:23] alexkreidler commented on #203
You could try the instructions on the download page, of papyros.io, as we
have a buildbot server that builds binaries you can install. This is the
easiest way for a quick fix, but I'm sure someone will look into the build
issue.

On Tue, Dec 29, 2015 at 6:34 AM Brenton Horne notifications@github.com
wrote:

[2015-12-31 01:50] alexkreidler commented on #133
Also, we should add cursors for dragging, clicking, etc. as the shell currently does not have a seperate cursor for resizing window edges.

[2015-12-31 13:09] kingwill101 opened #206 "hot corner overlaps window buttons"
![screenshot_20151231_080655](https://cloud.githubusercontent.com/assets/1114368/12064606/88f33bd0-af95-11e5-9586-b9ee8425c0e2.png)

[2015-12-31 16:05] alexkreidler opened #207 "Scaling feature"
Many people have monitors that are close and they can see everything perfectly. However, I have my computer hooked up to a TV that is farther away. I would like to be able to scale everything up to my liking, on the OS level. For example, Papyros could have settings for scaling the size of widgets up or down. You could just have your constants (display pixels) multiplied my the scale factor that w

[2015-12-31 16:05] kingwill101 opened #208 "missing cursor icon"
the cursor doesnt show when running the standalone shell
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29506568-missing-cursor-icon?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2

[2015-12-31 18:35] #207 closed, assigned to nobody

[2015-12-31 21:32] #139 closed, assigned to nobody

[2016-01-01 14:07] libf-de opened #209 "Window decorations are not scaled"
When setting a display scale, the window decorations dont get scaled. Installed today in ArchBang (openbox) running in VirtualBox. See for details: https://youtu.be/lxT86m3zSFY
![decoration_scale](https://cloud.githubusercontent.com/assets/6748024/12071091/510399d6-b099-11e5-82b7-ca4332b744fb.png)
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysou

[2016-01-01 14:24] Thisuu commented on #203
I can verify that the same happens on Debian.. Develop branch fails to build and output is same as above.

[2016-01-01 15:49] IdrissDimson commented on #209
Interesting

[2016-01-01 16:47] iBelieve commented on #209
Good catch with the decorations not scaling.

[2016-01-01 16:51] alexkreidler commented on #209
Is this what they are supposed to look like, or is it a bug?
![papyros-window-decorations-issue](https://cloud.githubusercontent.com/assets/11166947/12071485/eac8d8f4-b07d-11e5-9e65-eee9237e5d21.png)

[2016-01-01 17:21] libf-de commented on #209
Maybe it's only here, but as you can see in the video, the slider is not showing correctly.

[2016-01-01 17:29] IdrissDimson commented on #209
yeah in the video it was cut off

[2016-01-01 18:09] alexkreidler commented on #209
The slider was cut off while I tested as well

[2016-01-01 19:41] alexkreidler commented on #209
Just filed slider issue under papyros/settings-app#14

[2016-01-01 19:45] alexkreidler opened #210 "Window decorations are not rendered correctly"
This is what they look like. They should look different. (I checked an SVG preview of the raw files)

![image](https://cloud.githubusercontent.com/assets/11166947/12071976/3643a74c-b096-11e5-84ab-23a0c783693d.png)
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29522013-window-decorations-are-not-rendered-correctly?utm_campaign=p

[2016-01-01 19:47] alexkreidler commented on #204
Should we wait till Server-Side Decorations?

[2016-01-01 22:16] #204 closed, assigned to nobody

[2016-01-01 23:01] alexkreidler commented on #209
@iBeliever
Implementation:
- Get the scale value into a variable in decorations/main.cpp
- In main.cpp: Line 100, multiply 4th parameter by the scale variable
  This will scale height by the variable you specify, and the width is automaticaly calulated from the width of the window, so we don't need to multiply that.

[2016-01-01 23:04] alexkreidler commented on #208
It should show the default Wayland cursor (we haven't made one yet, see #133), as long as you have not set the theme to a cursor that doesn't exist.

[2016-01-01 23:05] alexkreidler commented on #206
We really need to redesign and improve the hot corners.

[2016-01-01 23:08] alexkreidler commented on #184
Can we close this issue?

[2016-01-02 03:17] Thisuu commented on #203
For whoever interested,cmake warning can be fixed by setting  "cmake_policy(SET CMP0063 NEW)"
but the build process still fails

[2016-01-02 03:27] iBelieve commented on #206
@Tim15 Indeed, see #130.

[2016-01-02 03:28] iBelieve commented on #206
I'm closing this as a duplicate of the above issue.

[2016-01-02 03:28] #206 closed, assigned to nobody

[2016-01-02 03:29] iBelieve commented on #210
Was this a cropped version of the screenshot from the issue about the decorations not scaling? I'm guessing the issue is the images are two small at that decoration size to draw properly.

[2016-01-02 03:31] alexkreidler commented on #210
No, it was a different one that I took after testing, but I did have it scaled up at the time. I will test with the settings scaled down to see if it keeps happening.

[2016-01-02 03:33] alexkreidler commented on #210
Just re-tested with the display scaled at 100%, and it still happens.

[2016-01-02 03:35] alexkreidler commented on #210
Recent screenshot:
![papyros-scaling](https://cloud.githubusercontent.com/assets/11166947/12073106/e4834eb6-b0d7-11e5-9080-eaedd941d0f4.png)

[2016-01-02 20:47] IdrissDimson commented on #133
Is there any cursor theme's lying around

[2016-01-02 20:48] IdrissDimson commented on #205
liri project made a nice one using QML. @iBeliever you might wanna check it out

[2016-01-02 21:02] Tim15 commented on #210
I have another issue with window decorations:
When I build from source and run `./papyros-session` from the build directory, the window decorations look fine.
When I run`sudo make install` and run `papyros-session` (therefore `/usr/bin/papyros-session`), it uses the old ugly window decorations.

[2016-01-02 22:07] crutchcorn commented on #133
There will be. We at MaterialOS are working hard to create a great working one right now

[2016-01-02 22:31] IdrissDimson commented on #133
nice!

[2016-01-04 01:29] Fabi commented on #202
I just tested the wiki for Debian based systems on Debian 8. First one repo is missing there and it doesnt matter which dep you try to build, it just Fails on a clean Debian system

[2016-01-04 03:21] n3rdopolis opened #212 "Hardcoded /usr path in cmake/Qt5WaylandClient/Qt5WaylandClientConfig.cmake"
I am unable to build Papyros, as qt5 is in /opt

It seems there are some direct references to /usr in that file

I am getting this error output
CMake Error at cmake/Qt5WaylandClient/Qt5WaylandClientConfig.cmake:27 (message):
  The imported target "Qt5::WaylandClient" references the file

[code]

  but this file does not exist.  Possible reasons include:
- The file was deleted, renamed, or moved to

[2016-01-06 04:20] ghost opened #213 "build failed main.cpp:316: Parse error at "IID""
This is a new arch installation on a Virtual Box. I installed all of the dependencies and it was all good. but then I get this error when I try to build the papyros-shell.

![input](https://cloud.githubusercontent.com/assets/6195060/12134932/57216210-b43d-11e5-8818-80c3a6e571ed.png)

[2016-01-07 09:57] SuicSoft commented on #18
Does anyone know how to fix this error `Could NOT find Libinput: Found unsuitable version "0.7.0", but required is at least "0.12" (found /usr/lib/x86_64-linux-gnu/libinput.so)` when building greenisland .I have already built `libinput` from source as mentioned @ http://wayland.freedesktop.org/building.html .I am using Elementary OS freya based on Ubuntu 14.04 LTS

[2016-01-08 11:40] ghost commented on #213
hi

[2016-01-10 02:42] Thisuu commented on #213
@lordadamson  The same bug is reported at https://github.com/papyros/papyros-shell/issues/203
I hope they'll look into it..

[2016-01-10 17:15] ghost commented on #213
Oh thanks a lot buddy. I'll close this one and let them know the bug affects me there.

[2016-01-10 17:15] #213 closed, assigned to nobody

[2016-01-10 17:19] ghost commented on #203
I have the same issue on arch linux.

[2016-01-10 22:04] JosephMillsAtWork commented on #200
This is a pretty easy Fix.

QStringList paths =  QStanderedPaths::standreedLocation(QStanderedPaths::ApplicationsPaths);

Change the DesktopFile.cpp to this and it will fix this issue.

[2016-01-11 06:05] Blealtan commented on #203
Also, I just tried building papyros on Arch, of which the sources of papyros-shell, libpapyros, greenisland are all cloned from github, and it still turns out to fail, with the same error. Who can help?

[2016-01-11 13:31] jpsutton commented on #203
I encountered the same error trying to build on Fedora 23.  The line which errors is the following:

[code]

If you add quotes to the item directly after the "IID", then I'm able to get past the error (it errors elsewhere, but I don't think it's related).

[code]

[2016-01-11 14:56] iBelieve commented on #203
The IID part is valid syntax, you'll find it documented in the Qt docs for plugins. I'm not sure why you guys would be having problems getting it to compile, especially as it works for me locally and in a clean Arch chroot on our build server.

[2016-01-11 15:02] jpsutton commented on #203
@iBeliever: is "QWaylandDecorationFactoryInterface_iid" some variable that needs to be defined elsewhere?  I grepped the source tree and didn't find any other instances of it being referenced.

[2016-01-11 15:03] iBelieve commented on #203
@jpsutton It's defined in QtWayland (second result): https://github.com/qtproject/qtwayland/search?utf8=✓&q=QWaylandDecorationFactoryInterface_iid. The third result is from the default Qt decorations which is what I copied from.

[2016-01-11 15:05] fusion809 commented on #203
@iBeliever is it possible that some build dependency was missed in the PKGBUILD? Afterall you're a developer, so you'd probably have a few extra Qt apps and libraries than the average Arch user. The same might also be true for the build server.

[2016-01-12 02:27] jpsutton commented on #203
I've narrowed this issue down to hard-coded values in cmake/Qt5WaylandClient/Qt5WaylandClientConfig.cmake (lines 56-59).  At least on Fedora 23, the headers for Qt 5.x are located in "/usr/include/qt5" rather than "/usr/include/qt".  In addition, the QtWaylandClient subdir has a "5.5.1" subdir rather than "5.5"

Seeing as people are seeing similar problems on Debian and (at least the originator of

[2016-01-12 02:31] iBelieve commented on #203
@jpsutton Ah, good find. I'll try asking in the `#qt-lighthouse` IRC channel tomorrow to see if there's a way to create wayland decorations without needing to include our own version of that Config file.

[2016-01-17 18:13] severen opened #214 "Support launching applications from the app tray with the enter key"
A common workflow is to launch applications using the app menu with a key sequence like the following Super -> $appname -> enter
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29955376-support-launching-applications-from-the-app-tray-with-the-enter-key?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source

[2016-01-19 22:09] IdrissDimson commented on #214
^yeah that would be nice

[2016-01-19 22:20] SaeedMasoumi commented on #212
Same problem, It seems that there is a `"/usr/include/qt5"` folder instead of `"/usr/include/qt"`, so I fixed it by creating a symbolic link.
`sudo ln -s /usr/include/qt5 /usr/include/qt`

[2016-01-22 14:04] SuicSoft opened #215 "Add official repository for Ubuntu / Debian"
We currently do not have a repository for `apt-get` and it would be nice to have one. It is possible to `checkinstall` for this
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30115534-add-official-repository-for-ubuntu-debian?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounti

[2016-01-22 18:12] ctnlaring opened #216 ""Add to shelf" in right click in app drawer"
The app drawer needs "add to shelf" and probably some other options in the right click menu
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30122554-add-to-shelf-in-right-click-in-app-drawer?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.b

[2016-01-22 18:14] ctnlaring opened #217 "Random flashing artifacts in the login screen"
I get weird white polygons flashing in the sddm login screen on my c4-48 chromebook. I'm using xf86-video-intel.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30122617-random-flashing-artifacts-in-the-login-screen?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [Bo

[2016-01-22 18:16] ctnlaring commented on #208
I have a super ugly white cursor that appears to be left over from twm or something.

[2016-01-22 18:17] iBelieve commented on #217
Can you reproduce with a different SDDM theme?

[2016-01-22 18:22] ctnlaring opened #218 "Github repo for sddm theme"
Maybe this is wrong but shouldn't the sddm theme have a seperate repository from the shell? It seems like there should be a papyros-sddm package instead of it coming with the shell.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30122841-github-repo-for-sddm-theme?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issue

[2016-01-22 18:23] ctnlaring opened #219 "Password boxes cover controls in sddm"
If there are several users on the machine their password boxes cover up the controls (When expanded/click on) in the bottom right. The controls should probably just render on top of everything else.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30122881-password-boxes-cover-controls-in-sddm?utm_campaign=plugin&utm_content=tracke

[2016-01-22 19:37] iBelieve commented on #218
We can do multiple package from one package source, but it makes sense to keep the code in here as it depends on the Papyros.Desktop module, which is part of the shell.

[2016-01-22 19:37] iBelieve commented on #219
Screenshot please. I can't picture what the bug looks like.

[2016-01-23 02:46] ctnlaring opened #220 "Extra branches"
Could somebody test each of the branches and delete old unnecessary ones and merge anything that can be done without issues? It seems like there are a ton of old branches that can get confusing.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30133502-extra-branches?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issu

[2016-01-23 03:00] ctnlaring commented on #219
I don't really have a way to get a screenshot with my setup. Here's a quick sketch.
![sddm](https://cloud.githubusercontent.com/assets/2424846/12527889/239b134e-c14b-11e5-8a13-032073f1b31d.png)

[2016-01-23 03:06] ctnlaring commented on #218
So there's no point to making a papyros-sddm package in the repository because it and the session package would be co-dependent anyway?

[2016-01-23 03:08] ctnlaring commented on #217
I'll try tomorrow. I don't think it was happening before I set the theme but I can't be sure so I'll verify.

[2016-01-23 03:17] ctnlaring commented on #205
Doesn't the shell usually determine the style of every context menu? For example Gnome's look very different from LXDE's

[2016-01-23 03:20] iBelieve commented on #205
@Collinthegeek It's a combination of the toolkit used plus the theme for the toolkit. We'll need to build one using our Material framework.

[2016-01-23 06:12] ctnlaring commented on #200
@JosephMillsAtWork Make a pull request

[2016-01-23 17:31] IdrissDimson commented on #220
That looks like it's being done. @iBeliever deleted quite a few last night.

[2016-01-26 14:40] pmarcelll commented on #180
It seems v0.7 was released.

[2016-01-29 09:24] libf-de opened #221 "Taskbar items are not scaled"
![Imgur](http://i.imgur.com/D2eaWy2.png)

After changing display scale, the taskbar items' (menu & workspace switcher) backgrounds/frames are not scaled until you restart Papyros Shell

It should look like:
![Imgur](http://i.imgur.com/mFNI1DW.png)

I'm using latest papyros-shell-git in VirtualBox
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysou

[2016-01-29 21:14] jalona opened #222 "/usr/bin/ld: cannot find -lKF5::Wallet"
[code]

[code]

[code]

[2016-01-29 21:48] iBelieve commented on #222
Rebuild `libpapyros`. This is fixed by https://github.com/papyros/libpapyros/commit/da15692bb8b1524bf99747f1c706ea5b53699f67.

[2016-01-29 21:50] jalona commented on #222
I rebuild libpapyros and have error.
Fix https://github.com/jalona/papyros-shell/commit/52ba911a95066c6516b98ce9efc13dbfe65c680c

[2016-01-29 21:56] iBelieve commented on #222
@jalona You're still getting the error after building and installing the latest code from the `develop` branch of libpapyros?

[2016-01-29 22:01] jalona commented on #222
@iBeliever, yes.

[code]

[2016-01-29 22:10] iBelieve commented on #222
@jalona Do you see KF5Wallet listed with the other dependencies at the end of `/usr/lib/cmake/Papyros/PapyrosConfig.cmake` (or wherever you installed libpapyros, /usr/local, /opt, etc)?

[2016-01-29 22:17] jalona commented on #222
[code]

[2016-01-29 22:21] iBelieve commented on #222
Strange. You can see that wallet is being referenced there, so you shouldn't be getting the linker errors anymore. I wonder if you have another install somewhere else, maybe in `/usr/local`. Does `sudo find / -name PapyrosConfig.cmake -print` should any other places its installed to?

[2016-01-29 22:27] jalona commented on #222
True,

[code]

Not have dependencies KF5Wallet in
/usr/local/lib/x86_64-linux-gnu/cmake/Papyros/PapyrosConfig.cmake

Thank you.

[2016-01-29 22:27] #222 closed, assigned to nobody

[2016-01-29 22:32] iBelieve commented on #222
Great, glad you got that figured out.

[2016-01-30 22:59] josem11200 opened #224 "Remove titlebar and give all its functionality to the actionbar"
The titlebar doesn't fit well in my opinion with a material desktop, and the action bar can do the job well.
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30372014-remove-titlebar-and-give-all-its-functionality-to-the-actionbar?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bo

[2016-01-30 23:01] ctnlaring commented on #224
@josem11200 This causes problems with apps that aren't made with qml material. I think this would be cool but should be saved for a much later release because the vast majority of apps will use the normal titlebar so it makes sense to focus on that for now.

[2016-01-30 23:03] ctnlaring commented on #224
Apps made in qml material can do this right now. The Liri apps all do this and it could be done for the core Papyros apps as well if somebody wants to do it.

[2016-01-30 23:06] josem11200 commented on #224
Yes, I know that it would cause inconsistencies between Papyros-dedicated apps and the rest. On the other hand, I didn't know that some apps do it already.

[2016-01-30 23:07] josem11200 commented on #224
(incorrect button :P )

[2016-01-30 23:44] iBelieve commented on #224
This is definitely something we're going to implement fully. Apps not using our framework will use regular decorations, and apps built with our framework will be able to use it if they want. Right now we have initial non-complete support, as you can see in the Liri apps, but it needs to get polished and improved.

[2016-01-31 00:21] ctnlaring commented on #224
@iBeliever And have them use the normal titlebar buttons. The ones the Liri apps use are pretty terrible IMHO

[2016-01-31 10:38] josem11200 commented on #224
Nice!

[2016-01-31 15:14] libf-de opened #225 "Papyros Session crashes Linux"
First, I don't know if this belongs here or if this issue is caused by
papyros-shell.

When I start papyros-shell in a running desktop environment (here Cinnamon in X), everything works fine.
But when I select Papyros as a session on login screen, I just get a black screen with a white cursor.
First, the cursor blinks. After some seconds, the computer freezes. I cannot switch to the ttys using ALT

[2016-01-31 17:48] ricardomv commented on #203
~~Private headers on my system are installed in `/usr/include/qt/QtWaylandClient/5.5/QtWaylandClient/` instead of `/usr/include/qt/QtWaylandClient/` moving them to the right place fixed the build.~~
We should change `cmake/Qt5WaylandClient/Qt5WaylandClientConfig.cmake` to use the current version of qt5-wayland as @jpsutton suggested.

[2016-02-01 04:27] ctnlaring opened #227 "A bunch of problems on RedHat"
When running cmake I got this error:
https://docs.google.com/document/d/1Duvy8bkHkzltgQRfmxNgIkYJlqy46bS-xLGAGrnNlV0/pub

Redhat systems (Fedora 23 in my case) seem to have some strange problems with qt vs qt5 so I did some exploring and was able to discover that the files it needs are in `/usr/include/qt5` rather than include/qt.

I fixed that by creating a symlink `ln -s /usr/include/qt5 /usr/in

[2016-02-02 08:10] jalona commented on #225
+1
wayland 1.9.0, greenisland 0.7.1 + papyros-shell (dev 3a9a8a6056f4878ef3c67c668640c46977d25da2)

Debian stretch (testing) with driver xserver-xorg-video-ati 1:7.6.1-1

In console not see errors

[2016-02-02 08:13] jalona commented on #227
@Collinthegeek , maybe need add path in enviroments?

[2016-02-02 08:44] libf-de commented on #225
As weston works totally fine, I guess this IS papyros related

[2016-02-04 21:34] ctnlaring opened #228 "Make fails on Arch"
/home/collin/Papyros/papyros-shell/decorations/main.cpp:316: Parse error at "IID"
AUTOGEN: error: process for /home/collin/Papyros/papyros-shell/build/decorations/main.moc failed:
/home/collin/Papyros/papyros-shell/decorations/main.cpp:316: Parse error at "IID"

moc failed...
decorations/CMakeFiles/material_automoc.dir/build.make:57: recipe for target 'decorations/CMakeFiles/material_automoc' fail

[2016-02-04 23:43] ricardomv commented on #228
Please check if issues were already submitted before creating a new one this is a duplicate of #203 and other information other than the build log would be nice as the versions of the libraries and the failing commit were the issue was tested.

[2016-02-04 23:43] #228 closed, assigned to nobody

[2016-02-07 07:31] King-F-Crimson opened #229 "The desktop failed to materialize on Arch Linux"
Hello, I followed the installation instruction on how to install `papyros-shell` at the [download page](http://papyros.io/download/index.html). I already tried to both `phonon-qt5-backend` that's `phonon-qt5-gstreamer` and `phonon-qt5-vlc`. But when I tried to launch the shell using the `papyros-session` command the result is a red page with a warning icon and "Oh no! The desktop failed to materia

[2016-02-07 13:09] Thesola10 opened #230 "Some Xorg windows have no frame."
Some windows supposedly rendered by X.org do not have a frame in Papyros and float over the multitask view without being listed by it. (apparently they are not handled by QtComposer) Please, fix this!

Windows affected
- LXDE apps
- Tomahawk
- Spotify
- Some other GTK apps

PS: Please provide a way to change keyboard layout too.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a boun

[2016-02-10 10:16] chardetm commented on #229
Same problem here with the exact same error messages, I don't think it comse from the graphic card or drivers regarding the error messages...

[2016-02-11 07:32] Jamesits commented on #229
Same problem here with Antergos (an Arch based distro), Linux kernel 4.4.1-2 inside VMWare Fusion VM.

[2016-02-12 14:15] King-F-Crimson commented on #229
Good to hear that I'm not the only one experiencing this issue. I hope the devs can help us.

[2016-02-12 15:54] iBelieve commented on #229
Please use the `papyros-testing` Arch repo instead of the `papyros` stable repo. The stable repo is temporarily broken as we work to create stable packages for all our projects. I'll try to get an update to the website out today noting that. Sorry for the inconvience!

[2016-02-12 22:22] chardetm commented on #229
@iBeliever it still doesn't work, I could update some packages with the testing repo but the error is still there. If that can help here is the output in the console:
`Registered io.papyros.session D-Bus interface
papyros.session.launcher: Registered io.papyros.launcher D-Bus interface
Starting: "greenisland" "--shell io.papyros.shell"
QML debugging is enabled. Only use this in a safe environment.

[2016-02-13 11:08] ricardomv commented on #229
@chardetm can you check the version of qml-material and if it's not installed anywhere else in the system?

[2016-02-13 11:42] Jamesits commented on #229
Switched to `papyros-testing`, removed and reinstalled `papyros-shell` and it started successfully. Cheers!

[2016-02-13 22:50] chardetm commented on #229
After removing papyros-shell and installing papyros-shell-git it worked, thanks!

[2016-02-14 09:21] ghost commented on #61
Can you it to v 0.3 Milestone ? Its a great feature

[2016-02-14 09:50] ghost commented on #216
I think " Pin to shelf " is better .

[2016-02-16 04:00] adojck commented on #185
I have same issue on fresh Arch Linux install. Same problem, using root and regular user. I get:
`error: XDG_RUNTIME_DIR not set in the environment`

[2016-02-21 00:20] otacon1k commented on #229
@chardetm can you explain how did you do that? Its the First time i use linux distro and im tottally noob... I installed papyros-shell but it finished with the same "red" result. After that i deleted papyros-shell with -rdsu but now i dont know where can i get "papyros-shell-git" and how to install it...

[2016-02-21 12:23] Aruziell commented on #229
Switching to papyros-testing and reinstalling dependencies made also my desktop materialize.
@otacon1k If you use Archlinux, you need to add papyros repo like in the [papyros download page](http://papyros.io/download/index.html) with one exception - instead of line with `[papyros]`, use `[papyros-testing]` (as explained above). Then synchronizing packages and installing papyros-shell-git should pr

[2016-03-05 05:36] SuicSoft commented on #102
Maybe we should have a %75 transparent box which splashes with ink.

[2016-03-06 03:52] SuicSoft opened #231 "Builds for ARM and ARM64 devices"
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31743128-builds-for-arm-and-arm64-devices?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github

[2016-03-10 21:21] asonix opened #232 "Cannot compile, missing Greenisland components"
The compilation gives the error from GreenIsland:

[code]

This seems like I'm just missing a dependency. What could it be though?
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31768171-cannot-compile-missing-greenisland-components?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept

[2016-03-16 10:46] ricardomv commented on #232
We still don't support recent versions of greenisland, you either need to wait for support or install an older version of greenisland.

[2016-03-16 10:53] ricardomv opened #233 "Task: Move c++ modules to libpapyros and sddm to own repository"
Modules like Desktop and Network can be moved to libpapyros so that we don't have to mix c++ and qml files.
With this change the sddm theme can also be moved to a different repository.

@iBeliever do you  agree?
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/31942998-task-move-c-modules-to-libpapyros-and-sddm-to-own-repository?ut

[2016-03-16 14:14] iBelieve commented on #232
As of right now, there's one bug in Green Island (issues on HiDPI screens, which is a blocker for me as I work from a Retina MacBook Pro) blocking me from starting the upgrade to the latest version of GreenIsland.

[2016-03-16 21:18] ctnlaring commented on #18
@crutchcorn Sorry for bumping this thread but have you looked at your script since qt5.5 was released.

[2016-03-17 11:51] jalona commented on #230
@Thesola10 select Papyros in dm and start?

[2016-03-20 07:01] SuicSoft commented on #131
It is Papyros and not papyrus

[2016-03-21 14:21] XDjackieXD commented on #225
I have exactly the same Problem inside a VM I just created to try papyros (Arch Linux. Starting papyros from xfce works fine but directly from a tty I can see the text the tty displayed and a cursor I can move around).

[2016-04-02 18:25] gwnichol opened #234 "Can't start papyros-shell"
Help! I really like the idea of Papyros but I can not get the session to start. I have it installed from the repo listed on the website and I am running Antergros with Gnome. I get multiple errors and many seem to relate to the Qt5 libraries. I have all the listed dependencies listed for the repo. I have also tried running it in a Wayland window with the same result. Any assistance is appreciated.

[2016-04-24 10:08] crutchcorn commented on #18
No, I suck :( Life got me busy

[2016-04-26 12:05] SuicSoft commented on #18
@Collinthegeek @crutchcorn @iBeliever @The5heepDev I have converted the packages using alien to `.deb` packages. After installing the packages with various command line options and install some dependencies when I try to run `papyros-shell` I get a line saying symbol lookup error.

How can I fix this

[2016-04-27 18:22] Thesola10 commented on #230
No. What I mean is that, AFTER having started Papyros, on the desktop, some apps I launch do not have a frame and do not appear in the multitask view or in the taskbar.

[2016-05-08 13:36] danielchim opened #235 "Can it could be install on windows 10 bash mode?"
Recently, microsoft release 14332,which can run ubuntu console quite well. And i think if we can install papyros shell on ubuntu , how about in windows 10 bash mode?
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34025850-can-it-could-be-install-on-windows-10-bash-mode?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=

[2016-05-21 00:25] kingwill101 commented on #205
@iBeliever  nudge me in the right direction and id be willing to work on this

[2016-05-27 09:14] z3ntu commented on #235
No.

[2016-06-02 20:13] Mattia98 opened #236 "Error while loading shared libraries"
Hi,
when I try to run papyros-session it gives me an erro:
papyros-session: error while loading shared libraries: libicui18n.so.56: cannot open shared object file: No such file or directory

Suggestions?
Thanks,
Mattia
##

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34813735-error-while-loading-shared-libraries?utm_campaign=plugi

[2016-06-11 14:58] VoyTechnology commented on #236
I also have this issue

[2016-06-20 14:46] SuicSoft opened #237 "PPA for Ubuntu"
I really need a PPA for Ubuntu or at least a package for Papyros so that I can install it easily.

Building the thing seems to be impossible.

So can you build Debian packages or make a PPA for Papyros ?
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/35323224-ppa-for-ubuntu?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_me

[2016-06-23 07:23] Thisuu commented on #237
Building on Ubuntu is possible,but with some effort. I successfully built this on debian. You want to make sure that all the build dependencies are in the place.

[2016-06-23 10:53] SuicSoft commented on #237
@Thisuu So can you add instructions how you did it ?

I have tried many times but never succeeded

[2016-06-27 13:41] SuicSoft commented on #237
@Thisuu Can you add the instructions

[2016-07-02 09:10] SuicSoft commented on #235
@danielchim As Microsoft says, Windows 10's Bash can only run command line applications

[2016-07-10 18:38] alexkreidler commented on #236
Are you sure you have all the dependencies? What version of Qt do you have? Could you post the full output?

[2016-07-10 18:41] alexkreidler commented on #234
What version of Qt do you have? Did you install it from your regular package manager? (I'm not familiar with Antergos.)

[2016-07-19 01:36] meepeek opened #238 "Does the project still active ? It's been a year since I saw Alpha coming soon"
I am looking forward to see this so I would like to know if it is still alive.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/36141471-does-the-project-still-active-it-s-been-a-year-since-i-saw-alpha-coming-soon?utm_campaign=plugin&utm_content=tracker%2F8658931&utm_medium=issues&utm_source=github)** We accept bounties via [Bounty